[2015-06-19 12:04] nespapu opened #6 "Android and iOS Min Version"
Hi,

Congrats for the plugin! We are finding it very useful :)

Can you tell us which is the min version for Android and iOS this plugin supports?

EDIT:

Ok, I see in your code that min version for Android is API 19, which is quite new, so lot of devices are left out for the use of this plugin. is this min version mandatory?

EDIT2:

I've tried to replace the min version the plugin is setting up

[2015-08-26 11:54] mattalco opened #8 "Extra uses-sdk entry getting added to AndroidManifest.xml"
Hello,

It appears this entry in your plugin.xml file is causing ionic to append an extra uses-sdk entry in the AndroidManifest.xml file.

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-sdk   android:minSdkVersion="19" android:targetSdkVersion="19"/>
        </config-file>

After performing an ionic build, we end up with this in our manifest file which caus

[2015-10-22 20:06] froyke opened #9 "Why is the extra complexity of the AES encryption in Android"
Hi,
Is there a reason for adding the extra AES encryption (on Adnroid)?
As I see it, the actual values could be encrypted/decrypted using the RSA one (from the keystore) - removing extra AES enc/dec cycle and reducing code complexity.

Thanks for your reply and for this useful library.

[2015-10-23 06:45] ggozad commented on #6
Sorry for the late reply, had accidentally unwatched the repo :)
No, 19 is really required for some of the android primitives we use.

[2015-10-23 06:45] #6 closed

[2015-10-23 06:46] ggozad commented on #9
Hey!
RSA can encrypt payloads <= to its key size. Hence we use AES for encryption and then RSA to encrypt the key.

[2015-10-23 06:46] #9 closed

[2015-10-23 06:48] ggozad commented on #8
Hey sorry for the very late reply, I had unwatched the repo by accident and never got to see this.
I am not using ionic, but will be happy to accept a PR that fixes it for you. Can you try keeping the minimum sdk directive and remove the target and let me know if this fixes it for you?

[2015-10-23 14:36] mobidev111 opened #10 "add to npm - to make available in cordova registry"
See this fork: https://github.com/LikeMindNetworks/cordova-plugin-secure-storage/commit/7ffa92a67a06f4b85439d962f60f8d6f2aa5565f

[2015-10-23 16:29] ggozad commented on #10
Was planning to do this anyway, would you mind doing a PR?

[2015-10-27 08:01] ggozad commented on #10
@mobidev111 It's done in #12 . Waiting for the fork to remove from npm registry so we can release.

[2015-10-27 08:02] ggozad commented on #8
Done in #10

[2015-10-27 08:02] #8 closed

[2015-10-28 10:50] ggozad commented on #10
Published.

[2015-10-28 10:50] #10 closed

[2015-10-28 14:24] clarklight opened #13 "cordova.plugins.SecureStorage is not a function??"
Hi

  I just installed the plugin, and have an error cordova.plugins.SecureStorage is not a function, not sure why is this happening.

     var ss = new SecureStorage(
    function () { alert('Success')},
    function (error) { alert('Error ' + error); },
    'my_app');

[2015-10-28 14:31] ggozad commented on #13
Can you give me a few more details? iOS, Android? Versions?

[2015-10-28 14:32] ggozad commented on #13
Also it's actually cordova.plugins.SecureStorage not SecureStorage. Is this it?

[2015-10-28 14:34] clarklight commented on #13
Hi Sorry yes, Android running on 5.0. Yer i tried var ss = new cordova.plugins.SecureStorage(

And it called that error so i tried    var ss = new SecureStorage(
But it also called the same error.

[2015-10-28 14:52] ggozad commented on #13
Could you please try with an empty app and describe the steps you follow?
I made a new app, run
cordova plugin add cordova-plugin-secure-storage
and can see the constructor fine.

[2015-10-28 15:04] clarklight commented on #13
Hi I just tried it again, i created a brandnew app. The only thing i have in the html page is  the div and a script below.

       <script>

          document.addEventListener("deviceready", function(){
   var ss = new cordova.plugins.SecureStorage(
    function () { console.log('Success')},
    function (error) { console.log('Error ' + error); },
    'my_app');
 })

    </script>

I first tried

[2015-10-28 15:50] clarklight commented on #13
Ahhh managed to make some progress now it is calling.

cordova-plugin-secure-storage.sjcl_ss not found

And a few error in the log

deviceready has not fired after 5 seconds.
cordova.js:1179 Channel not fired: onCordovaReady
cordova.js:1179 Channel not fired: onFileSystemPathsReady
cordova.js:1179 Channel not fired: onCordovaConnectionReady
cordova.js:1179 Channel not fired: onCordovaInfoReady

[2015-10-28 16:06] clarklight commented on #13
Hiii

   I think i might have got it working, but it asked me to set my screen lock?? And i have to have a screen lock on for it to work??

[2015-10-28 16:08] ggozad commented on #13
Could you please let us know what was the problem?
You do indeed need to have screen lock to access certain parts of the crypto API.

[2015-10-28 16:14] clarklight commented on #13
Hi thanks, the first problem was my mistake i was pulling from a wrong fork.

 But when i fixed that up, the second problem was with the id,because i am using phonegap build. The reference had to be changed. So i just renamed the id to com.secure.plugins.crypho, but because the securestorage.js is referencing the sjcl_ss, so i also had to change the first line of the sjcl_ss to var sjcl_ss = cordo

[2015-10-28 17:29] ggozad commented on #13
You shouldn't have to do any of that. Would you please try again by:
[code]
Then try using the storage.
To your second question:
Yes, in order to use the RSA storage built in with android, you need to have some sort of locking on the phone. The minimum is a PIN password.

[2015-11-07 17:49] nickabond opened #14 "Secure Storage is undefined?"
My code works great on iOS, with getting and setting items. However, I get SecureStorage is undefined when I run the same code on Android 4.4 with Crosswalk 15 and with Cordova 5.1.1?

Here's my code:

document.addEventListener("deviceready",  function() {
	var ss = new cordova.plugins.SecureStorage(
		function () {},
		function (error) { console.log('Error ' + error); },
		'YourChurch');
},false)

[2015-11-07 23:19] ggozad commented on #14
I will look into this next week, would it be possible to see if you can run the tests?

[2015-11-09 10:32] demetris-manikas commented on #14
@nickabond
I created an empty project and installed the plugin following the README
Then I run it on a freshly created AVD and everything went smoothly.

I also installed cordova-plugin-crosswalk-webview and again everything went fine on a Samsung 5.
(crosswalk refused to run on the emulator)

Make sure you fresh install the secure storage plugin from npm and try again.
Create a cordova project fr

[2015-11-09 16:18] nickabond commented on #14
Thanks for your responses guys. Everything seems to be working fine now. It looks like it was a scope issue that the iOS webview didn't pick up on, but the Android would did. Thanks again!

[2015-11-09 16:18] #14 closed

[2015-11-26 07:59] mysoko commented on #13
I also encountered the same problem：『TypeError: Cannot read property 'SecureStorage' of undefined
』

Js files are loaded in.

![1](https://cloud.githubusercontent.com/assets/75619/11417956/54d61bf6-9456-11e5-9776-b42bac64c967.png)

code：
[code]

[2015-11-26 08:01] ggozad commented on #13
Perhaps you guys could help debug this? I am not seeing this in a clean installation. Is this android also?
Could you try to debug and figure out what happens?

[2015-11-26 08:05] clarklight commented on #13
Hey guys

    I had that problem before but i have resolved that. @mysoko did you install it thru cordova or Phonegap?
I had that problem when i packaged it and installed through phonegap, the core reason for me was the file directory name. I just renamed the file; as it was calling SecureStorage of undefined, it isn't seeing that file i assumed.

Have a look if that solve your problem.

[2015-11-26 08:07] ggozad commented on #13
@clarklight can you please elaborate a bit? What file directory?

[2015-11-26 08:08] ggozad commented on #13
Also @mysoko are you also on phonegap? We've only tested with crodova, perhaps there are some quirks we need to figure out on phonegap.

[2015-11-26 08:09] mysoko commented on #13
crodova 5.4.1, cordova android 5.0.0

[2015-11-26 08:19] mysoko commented on #13
Probably locate the problem, load order problem js of, cordova js plugin loader is asynchronous, so not every get cordova.plugins.SecureStorage

![2](https://cloud.githubusercontent.com/assets/75619/11418283/7842971a-9459-11e5-86e1-bdd8884e36ff.png)

![3](https://cloud.githubusercontent.com/assets/75619/11418286/7dc12d3c-9459-11e5-9c01-dc9a31b8e02f.png)

[2015-11-26 08:47] demetris-manikas commented on #13
From the trace looks like you try to instantiate the SecureStorage before having received the deviceready event,

Just tested on Cordova 5.4.1 fresh project (android, browser platforms) the following code and did not experience any exceptions
[code]

[2015-11-26 08:57] demetris-manikas commented on #13
@mysoko  Also note that at least on Android the plugin is usable only after the success method has been called

[2015-11-26 09:03] ggozad commented on #13
@mysoko @clarklight can you confirm what @demetris-manikas suggests solves your problem?

[2015-11-26 09:16] mysoko commented on #13
@demetris-manikas @ggozad

Loading problem, put onDeviceReady's ok.
Because the angular and ui-router route I use, will first perform homeCtrl so it did not get any information.

We made the following changes:

[code]
to：
[code]

First contact cordova encountered many problems, thank you for help.

[2015-11-26 09:53] mysoko opened #15 "Can android phone configuration (off) the system password settings？"
Most mobile phone users (especially android user) will not set the system password。

If you do not set up simply impossible, I do not want to force the user to set up:

![image](https://cloud.githubusercontent.com/assets/75619/11420060/8a21d092-9466-11e5-9f94-9d4bc1601956.png)

[2015-11-26 09:54] ggozad commented on #15
No, it is not possible. Having at least a PIN password is a requirement from the OS to get access to certain crypto APIs.

[2015-11-26 09:55] #15 closed

[2015-11-26 10:16] ggozad commented on #13
Closing this, @clarklight if it still persists, let me know and I will open it. Added an FAQ section on the README with explicit instructions.

[2015-11-26 10:16] #13 closed

[2015-12-16 21:11] softBarbarian opened #16 "what is the difference between SSKeychain and SFHFKeychainUtils"
i have a quick question what is the difference between SSKeychain and SFHFKeychainUtils?

Thanks a lot.

[2015-12-16 21:38] ggozad commented on #16
What has this to do with this repo? Try asking on their respective repositories.

[2015-12-16 21:38] #16 closed

[2015-12-17 20:30] embedded-spirit opened #17 "App crashes on iOS7"
Reference to kSecAttrAccessibleWhenPasscodeSetThisDeviceOnly causes app to crash on iOS7

[2016-01-05 18:34] ggozad commented on #17
Fixed in pr.

[2016-01-05 18:34] #17 closed

[2016-01-28 20:06] softBarbarian opened #19 "Question"
Hello @ggozad i am wondering if you could take few moments and explain the differences (as far as security goes) between your plugin and https://github.com/shazron/KeychainPlugin plugin?

Thanks a lot in advance.

Thanks

[2016-01-28 20:15] ggozad commented on #19
There's very little difference between the two plugins on iOS. They both provide an API to access the keychain.
In ``cordova-plugin-secure-storage`` we also implemented the same API for android as described in the README.

[2016-01-28 20:15] #19 closed

[2016-01-28 20:37] softBarbarian commented on #19
@ggozad thanks a lot for prompt reply

[2016-02-09 21:35] mattalco opened #20 "Error on Android 6.0 Marshmallow"
When using this plugin, we occasionally get the following error on Android 6.0 devices. I've posted our log below of the error - any ideas on what's causing this?

`02-09 16:17:40.909 455 455 D keystore: Ran out of operation handles, trying to prune 0xb7744370

02-09 16:17:40.911 455 455 D keystore: Ran out of operation handles, trying to prune 0xb7747650

02-09 16:17:40.913 455 455 D keystore: Ra

[2016-02-09 21:46] mattalco commented on #8
Thank you :)

[2016-02-10 08:29] demetris-manikas commented on #20
Hi, for the time being I can only guess.
Searching on google for the  keystore: Ran out of operation handles, trying to prune...
lead me to https://android.googlesource.com/platform/system/security/+/1f76969bd8b6179f256dafb938bb458bc997c23d%5E!/
where I could see that it seems that one cannot have more than 15 concurrent keystore operations.
Could that be the case for you?

[2016-02-10 14:20] mattalco commented on #20
Hi, thanks so much for responding.

The case you mention above about the 15 concurrent operations should not affect what we are doing. It's been strange that everything has worked for several months with no changes to this code until we started testing it on Marshmallow. Then we started seeing these crashes on a pretty regular basis.

[2016-02-10 14:34] ggozad commented on #20
Would it be possible to provide a consistent test case? And run it on an emulator?

[2016-02-11 21:44] mattalco commented on #20
Hello again, I'm working to get that sample app you mentioned up and running.

In the meantime, I did some more searching and came across this link: http://stackoverflow.com/questions/34286798/javax-crypto-cipher-working-differently-since-android-6-marshmallow

It seems some things with Android in version 6 changed with regards to the Cipher.

[2016-02-13 22:28] lumierephoto opened #21 "Is it possible to use this plugin and iOS keychain to automatically login to Cordova app?"
I'm looking for a possible solution to login to a Cordova iOS app automatically using the iOS keychain.

Is this possible? Can this plugin help?

I've tried looking at Shazron's KeychainPlugin, but his example only shows playing with getting, setting and deleting the keys for predefined values.

How can this plugin use the values in the keychain already? Is there a simple example of how this can b

[2016-02-16 20:24] ggozad commented on #21
You can store credentials/a session/whatever in the keychain and use them to log in. i.e. you have the user log in once and then store the credentials.

[2016-02-16 20:24] #21 closed

[2016-02-18 14:22] leecrossley commented on #20
I have been testing on Marshmallow (6.0.1) today (Nexus 7) and have not experienced this issue (yet)

[2016-02-18 19:30] #20 closed

[2016-02-18 19:31] mattalco commented on #20
We have been unable to reproduce after working with this more. Thank you both for looking into this :)

[2016-03-31 09:34] tchabaud opened #23 "JellyBean compatibility"
Hello,

Is this plugin compatible with Android API Level < 19 ?

Because I get the following exception :

[code]

Is there any workaround or patches available to use this plugin on JellyBean ?

[2016-03-31 09:40] ggozad commented on #23
No sorry, API < 19 is missing necessary cryptographic primitives that allow the plugin to work.

[2016-03-31 09:40] #23 closed

[2016-03-31 09:42] tchabaud commented on #23
Ok, thanks for the info.

[2016-04-05 14:38] Alex-Sessler opened #24 "ios: Keychain access denied when launched from notification"
I'm using the plugin to store a login token for my app. For iOS i use the keychain mode "WhenUnlockedThisDeviceOnly". When the app is terminated and launched through a notification, I immediately use the plugin to get the token from the Keychain, but it always fails with the error "errSecInteractionNotAllowed".

This is the Code that i use for launching the app on notification (different plugin):

[2016-04-05 15:32] ggozad commented on #24
Has the plugin been initialized? I am guessing not since you respond natively to the notification...

[2016-04-06 08:35] Alex-Sessler commented on #24
Does the plugin even need any initialization on ios? The constructor doesn't seem to do much except set the service. But yes, the success callback is executed before the get call is done.

[2016-04-06 08:41] ggozad commented on #24
All cordova plugins need initialization for the bridge to work.
But since you do things natively, you might have more luck with accessing the keychain natively as well. For iOS we barely use https://github.com/soffes/SSKeychain to do so.

[2016-04-06 08:54] chrigi commented on #24
@Alex-Sessler wrote that he initializes the plugin after the `onDeviceReady` event was fired, so Cordova did initialize the plugins. According to your `securestorage.js` code, there is not further initialization necessary after calling the SecureStorage constructor as you immediately call the success function:
`
var SecureStorageiOS = function (success, error, service) {
    this.service = service

[2016-04-06 09:04] ggozad commented on #24
I see. It wasn't clear to me that the onDeviceReady was fired.
I am not sure why this would happen. In our own product Crypho we do the same thing and can access the keychain just fine.
Would it be possible to create a simple test-case with pinned versions and see if it is reproducable?

[2016-05-10 08:04] gorkagb opened #26 "phonegap build plugin id"
Hi,
We are using phonegap build with angularjs for one of our hybrid apps.

We are trying to integrate the plugin using this version https://build.phonegap.com/plugins/3403 and we are getting the same issue as in https://github.com/Crypho/cordova-plugin-secure-storage/issues/13 because the plugin id in securestorage.js is not correct:
var sjcl_ss = cordova.require('com.crypho.plugins.securestorage

[2016-05-10 08:11] ggozad commented on #26
Hey,
You are using one of the broken forks instead of the original (hint: this is the repo of the original).
Seems that the plugin you are using has only one change from our original, changing the namespace.
I cannot control the forks nor fix them.

You could also kindly ask @nespapu to remove his broken plugin as it just causes confusion.

[2016-05-10 08:20] gorkagb commented on #26
Hi again, thanks for replying so soon

Sorry then, we tried using the original plugin "com.crypho.plugins.securestorage", added to config.xml but phonegap build states is an invalid plugin when trying to rebuild.

The correct one is this https://build.phonegap.com/plugins/5851 ?

I´ll get in touch with @nespapu to ask for removal of his plugin

[2016-05-10 08:30] ggozad commented on #26
You should be using npm to manage your plugins. Crypho is publishing all releases to the npm registry. The version you indicate is old (we are now on 2.2.2) and build.phonegap.com is deprecated.

I am not using phonegap, but I know others have managed just fine so I am guessing it's a configuration problem. If you post details about what you do and how it fails, I might be able to help.

[2016-05-10 08:59] gorkagb commented on #26
changed to the version from npm you quoted and seems to be working now, thanks again!

[2016-05-10 15:58] gorkagb commented on #26
Sorry for reopening the issue but i´m having some misconceptions with how the plugin works.
Once the plugin is instantiated, initialized, for every ss.get do we need to use the success callback in order to manage the data?

Being aysncronous is giving us headaches for how we managed localstorage inside our app (angularjs) previously so maybe i´m looking at it from a completely wrong perspective an

[2016-05-10 16:04] ggozad commented on #26
Cordova plugins unfortunately need to be async. That's how the bridge works.
With that in mind it's not that hard to rethink your app that way. For our own apps we use promises to avoid callbacks.

You are also correct that typically you would read whatever data you need when initialising the app or a some view. If you need a lot of secure data, you might as well store only keys in securestorage a

[2016-05-10 16:04] #26 closed

[2016-05-10 16:12] gorkagb commented on #26
ok, thanks a lot for the advice.

[2016-05-10 20:50] yyfearth opened #27 "Why use JS sjcl library to do the AES instead of use Android Java API"
As I saw in some forks, they are using Android API to do the AES encryption/decryption instead of doing such using JavaScript.
Since JavaScript AES implementation usually slower and also blocking (sync) unless put it into web worker.

I guess, maybe the author just need to support Android with a quick solution, but not care about performance that much?

[2016-05-10 20:59] ggozad commented on #27
Android does not have an equivalent of the iOS keychain. The current implementation works for the purposes we wanted it to. Of course a native implementation would be better. Please make a pull request and I will happily accept it.

[2016-05-11 12:47] nespapu commented on #26
Hi @ggozad and @gorkagb I have just deleted the repository as you asked.

[2016-05-13 09:03] LarsVoith opened #28 "Sharringon iOS"
it it possible to share the keychain with 2 Apps if both apps have provisioning based on the same bundle seed ID?

[2016-05-13 09:07] ggozad commented on #28
I think yes if you allow it in the entitlements. Haven't tested this out, so ymmv. Please let us know if you do test and perhaps document it in the README.

[2016-05-15 19:33] ggozad commented on #27
Gonna reopen this since @demetris-manikas has submitted crypho/cordova-plugin-secure-storage#29.
Please discuss there and contribute.

[2016-05-20 10:09] Alex-Sessler commented on #24
The latest changes (moving the work to threads) fixed this issue for me.

[2016-05-20 10:10] #24 closed

[2016-05-20 12:08] ggozad commented on #24
awesome :)

[2016-05-24 15:10] Alex-Sessler opened #30 "ios: multiple calls at the same, only the last one's callback is executed"
I've found this behaviour in my main app and have also managed to reproduce it in a minimal cordova app. All of this is executed after the deviceReady event.

Now these calls are supposed to fail, because there is no data in the keychain yet:
[code]

The output I receive however, is:
[code]

Now let's say I want to store some values in the keychain, which should succeed:
[code]

The calls succeed,

[2016-05-24 16:58] ggozad commented on #30
Ouch!
That's pretty bad, will try to fix this week. Would it be possible to make a failing test case for the above?

[2016-05-24 18:57] Alex-Sessler commented on #30
Hm, what do you mean with "a failing test case"? In my first example, the get call fails and in the second example the set call succeeds. Since all functions use the same helper functions on error/succeed I though that should be good enough.

[2016-05-24 20:54] ggozad commented on #30
I mean there is a small test suite in the package. If you could write a test case that fails (copy pasting the above and asserting that all callbacks are called properly) that would save me some trouble :)

[2016-05-25 06:50] ggozad commented on #30
I've added a branch with a test case that demonstrates this in FIX-thread-callbacks.
Seems that since callbackId is kept in self, this is overwritten every time.
@goshakkk would you please be able to fix this?

[2016-05-25 07:29] ggozad commented on #30
Seems I have fixed this in  FIX-thread-callbacks. Tests now all pass including multiple calls to securestorage.
@Alex-Sessler could you please verify with your app running the branch?

[2016-05-25 08:44] Alex-Sessler commented on #30
I tested the branch version and it seems to fix my issues... Awesome, thanks!

[2016-05-25 08:44] #30 closed

[2016-05-26 07:31] j3k0 opened #32 "iOS synchronization?"
Can we assumed data stored using the plugin will be synchronized between iOS devices sharing the same Apple ID? (I know KeyChain allows this)...

The documentation doesn't mention whether or not synchronization is enabled, and/or possible to setup.

Thanks!

[2016-05-26 07:43] ggozad commented on #32
It really depends how you setup your app to allow or disallow this, the plugin does set this for you. My guess is it should work just fine if you and the user allow it.
If you experiment with this perhaps you can share your experience as a PR in the README?

[2016-06-15 07:36] #32 closed

[2016-06-15 07:36] #28 closed

[2016-06-15 07:36] #27 closed

[2016-07-13 05:19] pallaviMN opened #37 "Can i use it plugin to encrypt a file stored in the device?"

[2016-07-13 11:04] ggozad commented on #37
Nope. Secrets only.

[2016-07-13 11:04] #37 closed

[2016-07-15 06:46] yugidazai opened #38 "Android question: how to keep data in storage even when app is deleted"
Hi,

Firstly thanks for your work for this plugin.
It works perfectly for iOS, as data is stored in keychain regardless the app is deleted.

However, as you mention in README file, data is encrypted and stored in `localStorage` only in case of Android. It means that data will be deleted when you remove app.
Is there any way so that this plugin can do the same logic as iOS?

Thanks in advance.

[2016-07-15 06:56] ggozad commented on #38
There is definitely room for improvement in this area. I don't have the answer but would be happy to accept a PR...

[2016-07-22 21:13] jakeseltz opened #40 "ss.get error"
Using android: when I perform a ss.get (immediately after ss.set) I get the keystore without issue. If i then close the app and open it up, then try to perform that same ss.get (having not performed a ss.remove), I recieve this error:

"nonce must have length from 7 to 13 octets"

Error: nonce must have length from 7 to 13 octets
    at fail (file:///android_asset/www/plugins/cordova-plugin-secure

[2016-07-22 21:18] ggozad commented on #40
This is for android correct?
Would it be possible to add a failing test case?
cc @demetris-manikas

[2016-07-23 07:38] ggozad commented on #40
Also paste some code please.

[2016-07-23 18:33] demetris-manikas commented on #40
Are you loading stuff to the localStorage? Looks like native code tryie

[2016-07-23 20:36] jakeseltz commented on #40
In the end it turned out that the secureStorage object was not yet loaded (even though I was calling the ss.get after the controller was loaded. That was my mistake.

[2016-07-24 07:08] #40 closed

[2016-07-26 21:18] stephenliberty opened #41 "Is there a way to 'remove all' or 'clear' storage?"
As the title says, I'm looking for a way to 'clear' the storage - either by destroying the one that exists or wiping out all the values from it. Is that possible?

(I'm aware that in its current form the answer is no, I'm more curious about whether it can be made to happen)

[2016-07-26 21:36] ggozad commented on #41
It's trivial to enumerate as well as clear all keys. A pull request would be most welcome.

[2016-07-26 21:36] #41 closed

[2016-08-01 15:18] charlesmccann opened #43 "question regarding Keys"
Thanks again for building this.

Is it safe to have the Key be a string in our app's javascript code?
i.e. if the key is "password" and I store the user's password in the value, does that make it easier for someone to hack the password if the phone is compromised?

And is someone able to look at the list of "keys"?
Thank you!

[2016-08-02 05:38] demetris-manikas commented on #43
@charlesmccann  obfuscation is by no means secure therefore it does not matter how you name a key.
You should consider keys to be public. Don't store sensitive information on a key this is what values are for.

[2016-08-02 08:03] ggozad commented on #43
@charlesmccann yes it is relevant what the key is called. It's the value that is encrypted. You can call it "password" or whatever you like.

[2016-08-02 08:03] #43 closed

[2016-08-08 10:32] OmarHassan25 opened #44 "Device is not secure"
I am getting this error on android when trying to use the plugin, "Device is not secure",
Here is my implementation:
`
import { SecureStorage } from 'ionic-native';
import {Constants} from '../../model/Constants';

export class SecStorage {

    static instance: SecStorage;
    static isCreating: Boolean = false;
    private secureStorage: SecureStorage;

    public static LOGGED = "LOGGED";
    p

[2016-08-08 11:05] ggozad commented on #44
As of the last version, if the device has no screen lock or an screen lock with insufficient security that error is thrown. There is an example in the README, you should the user and call ``secureDevice`` to bring up the screen lock settings.

[2016-08-08 11:12] OmarHassan25 commented on #44
Can't we skip this security check?

On Aug 8, 2016 2:05 PM, "Yiorgis Gozadinos" <notifications@github.com>
wrote:

[2016-08-08 11:23] ggozad commented on #44
Please read the docs. No you can't, we cannot store anything on the credential storage unless appropriate screen lock settings are there.

[2016-08-08 11:23] #44 closed

[2016-08-09 05:35] pallaviMN opened #45 "Gettinf "Failed to Load Error""
Hi Team,

I am using Samsunf 4.1 device & i am getting below error

KeyStore.PrivateKeyEntry keyEntry = getKeyStoreEntry(alias);
		if (keyEntry == null) {
			throw new Exception("Failed to load key for " + alias);
		}

[2016-08-09 19:06] ggozad commented on #45
Could you please run the tests on the device (see README) and let me know if you get any failures?

[2016-08-11 11:29] malwatte opened #46 "Crashes in Android 4.2 device"
KeyPairGeneratorSpec is added in API level 18.
Might need to document this

[2016-08-18 17:34] kukikiloke commented on #45
I also got the same error on Samsung S3 running Cyanogen 13 (6.0.1) when rebuilding the app with cordova client. It works fine when building with Android Studio or close-and-relaunch the app on the device.

To me, it looks me some error occurred when trying to recover the keystore.

[2016-08-18 17:51] ggozad commented on #45
Unless one of you can reproduce and debug I will not be able to help. If you can consistently reproduce please make a test case that I can use.

[2016-08-18 22:40] kukikiloke commented on #45
**Update:**

I was using cordova-android 5.0.0 when I was encountering this issue, upgrading it to 5.1.1 solved the problem.

Fix for [CB-9557](https://issues.apache.org/jira/browse/CB-9557) in 5.0.0 introduced this bug [CB-10157](https://issues.apache.org/jira/browse/CB-10157) which will uninstall the app first before reinstalling the app. Version 5.1.1 fixed that.

[2016-08-19 06:46] ggozad commented on #45
@kukikiloke, that seems it could be the problem. @pallaviMN could you tell us if this would be the case for you too?

Remember also: You ALWAYS need to init the storage, is that the case?

[2016-08-22 22:00] bgulotta opened #47 "Storage is not persistent after closing the app"
I am able to use the plugin to successfully store and retrieve data on an Android device while the app is running. If i try and close the app out and reopen it the data is no longer found.

[2016-08-23 06:32] #46 closed

[2016-08-23 06:33] ggozad commented on #47
Can you comment if this is the same as #45

[2016-08-24 18:25] briananderson1222 opened #48 "iOS10 Support?"
Curious if anyone has looked into iOS 10 support for this plugin.

I tested this out for the first time today and I am seeing this error when calling `cordovaSecureStorage.set`

[code]

I will continue looking into this to see if I can find more information and will pass along any findings

_EDIT_: This seems to affect all setting and fetching

[2016-08-24 19:13] briananderson1222 commented on #48
Apparently going into Compatibility Settings and enabling Keychain Sharing 'fixes' the issue. Haven't been doing iOS specific development for a while now so hoping that bringing this up might shed some light

[2016-08-25 08:33] ggozad commented on #48
Hey @briananderson1222!
I haven't had a chance to look into this. I would really appreciate it if you do continue... Would you be able to make a branch updating the plugin so that I can have a look as well?

[2016-08-25 08:36] ggozad commented on #48
Also note https://github.com/soffes/SAMKeychain/issues/149

[2016-08-25 08:43] #45 closed

[2016-08-25 13:22] briananderson1222 commented on #48
@ggozad Is there a reason the SAMKeychain code is so out of date? Also, is there a reason that 'SAM' is renamed to 'SS' or was this what the library used a year ago when this code was last updated?

[2016-08-25 13:25] ggozad commented on #48
@briananderson1222 indeed SSKeychain apparently became SAMKeychain. There's no particular reason, SSKeychain was more or less a sane simple API around keychain which is why it was used.

[2016-08-25 13:30] briananderson1222 commented on #48
@ggozad Okay thanks for the background information. I'll continue looking into this as time allows and open a PR if I can get it working. Let me know if there is any other background information that may be useful

[2016-08-25 15:16] briananderson1222 commented on #48
https://github.com/soffes/SAMKeychain/issues/52

https://openradar.appspot.com/27844971

[2016-08-25 15:17] briananderson1222 commented on #48
I've made the upgrade to the latest version if you would like me to put up a PR for that.. unfortunately doesn't seem to fix the underlying Keychain issue on iOS10

[2016-08-27 17:02] endriazizi opened #50 "no exported member 'SecureStorage'."
Hello there!

I am using cordova secure storage on my ionic 2 app,

I got this error:
[code]

in my package.json:

 "cordova-plugin-facebook4",
    "cordova-plugin-device@~1.1.2",
    "cordova-plugin-console@~1.0.3",
    "cordova-plugin-whitelist@~1.2.2",
    "cordova-plugin-statusbar@~2.1.3",
    "ionic-plugin-keyboard@~2.2.1",
    "cordova-plugin-splashscreen@~3.2.2",
    "cordova-plugin-secure-

[2016-08-29 07:13] ggozad commented on #50
This seems like an issue with your config. I am afraid there's not much I can do to help you here.

[2016-08-29 07:13] #50 closed

[2016-08-29 23:14] drbeermann commented on #47
We've seen some reports that our users are getting logged out of our application, which suggests that this could be a problem. I have not been able to replicate it myself, however I do know that it happened on a HTC One running Android 5.0.2. I'll update this issue if we can find any more information.

[2016-08-31 21:33] szh opened #51 "`get()` throwing "errSecItemNotFound""
When an item isn't present in the iOS keychain, usually `get()` returns null, but sometimes it throws "errSecItemNotFound".

[2016-09-01 07:29] ggozad commented on #51
Would appreciate some more feedback on this, perhaps a PR?

[2016-09-01 08:07] ggozad commented on #51
I released a new version and added some more tests to cover this. It works fine here, the error callback should always be called, please test and let me know if it still fails for you.

[2016-09-01 09:39] GillesC commented on #47
LocalStorage isn't always persistend see for instance [this thread](http://stackoverflow.com/questions/7750857/how-permanent-is-local-storage-on-android-and-ios). That's why I think this plugin should use SharedPreferences to store data, or use [this plugin](https://github.com/TheCocoaProject/cordova-plugin-nativestorage). This is answer is not for getting publicity for my plugin but just for help

[2016-09-01 09:43] ggozad commented on #47
@GillesC thanks for this! Would it be possible to make a PR and use native storage instead of localStorage?

[2016-09-01 09:45] GillesC commented on #47
@ggozad I will try :) I'm also thinking about adding your plugin to mine, I hope that won't give any issues related to circular depencies.

[2016-09-01 09:49] ggozad commented on #47
Instead of depending on each other I would rather have the sharedPreferences implemented. It seems there's a lot of duplication of functionality between the two plugins.

[2016-09-01 11:01] GillesC commented on #47
Are you going to implement a SharedPreference based storage mechanism? If so I could focus on my own plugin, and begin adding your plugin as a dependency. Thanks.

[2016-09-01 11:24] ggozad commented on #47
@GillesC I was hoping you or somebody else would step up and do the work :) I don't have the time to do so immediately, but it has to happen eventually.

In our case, it shouldn't be complex: it's just about replacing locaStorage.get/set with share preferences or whatever other mechanism exists on android.

[2016-09-01 11:31] GillesC commented on #47
Yeah but the NativeStorage plugin does just that. So just replacing localstorage with NativeStorage should be simple and clean.

[2016-09-01 20:12] szh commented on #51
Thanks for the quick response. I went ahead and ran the tests, and they do pass. Unfortunately it's very hard to reproduce this error. It usually happens when I launch the app, in case that helps.
I actually have code in my error handler to try to catch the error but it seems to either skip it or maybe it throws the error even after the handler is called:

[code]

[2016-09-01 20:25] demetris-manikas commented on #47
Since values for API 19 are created by sjcl I believe that a SharedPreferences plugin should be used instead of implementing a SharedPreferences interface.
When the sjcl dependency goes away then we could review the implementation.

cordova-plugin-app-preferences seems to be the most prominent.

[2016-09-02 06:53] ggozad commented on #47
@demetris-manikas Not sure I understand how sjcl affects SharedPreferences. Both sjcl and native produce strings that we store to localStorage. We might as well store them elsewhere. Can you elaborate if I am missing something?

I am very reluctant to add a dependency:
1) While cordova-plugin-app-preferences seems mature and well maintained, a dependency in something as big might break secure-stor

[2016-09-02 06:58] ggozad commented on #51
I am guessing you do wait for ``deviceready`` before everything?

With regards to the snippet: SecureStorage.get will reject if it does not find a value. You can of course catch that and return null instead, but does it ever return null when there is no such item?

[2016-09-02 07:59] demetris-manikas commented on #47
@ggozad If values were only produced natively then SecureStorage.java would only expose get/set methods only and use the SharedPreferences internally. Usage of sjcl requires the addition of store/fetch methods.

I proposed the usage of a dependency so that we don't have to maintain code related to SharedPreferences.

1) a dependency is defined by plugin+version and this way we can avoid breaking s

[2016-09-02 08:18] ggozad commented on #47
@demetris-manikas Yes please go ahead.

If native AES is used then the plugin should not use the bridge for get/set methods but rather do it internally. Two calls to the bridge should only be made is sjcl is used.

To be honest I don't see sjcl staying in for long, eventually we will deprecate it and move to Android 21.

[2016-09-02 17:07] szh commented on #51
Yes, I'm waiting for deviceready.
You're right, it doesn't return null. I thought it was, b/c I was handling that in code elsewhere in my app.
I guess there's really no way to fix this if we can't reproduce it. I'll report back if I have more details that could help.

[2016-09-02 17:07] #51 closed

[2016-09-06 15:33] kblum opened #53 "Android keystore deletion on security setting change"
Changing the lock screen type on Android erases the keystore (issues [61989](https://code.google.com/p/android/issues/detail?id=61989) and [210402](https://code.google.com/p/android/issues/detail?id=210402)). The author of the second issue also describes it in the [Android Security: The Forgetful Keystore](https://doridori.github.io/android-security-the-forgetful-keystore/) blog post. This means t

[2016-09-06 15:35] ggozad commented on #53
Indeed this is the case. secure-storage is not meant to be used as a full-blown storage, rather as a convenient and secure way to store secrets.
Would you mind updating the docs in a PR?

[2016-09-06 15:41] kblum commented on #53
Will do.

[2016-09-06 16:49] #53 closed

[2016-09-12 19:29] ggozad commented on #47
Should be resolved.

[2016-09-12 19:29] #47 closed

[2016-09-13 18:44] demetris-manikas commented on #38
@ggozad Well... is it possible?. On android uninstalling the app causes the RSA key used by the app to be deleted from the KeyStore thus making all the contents of the secure-storage useless.
Now that we use SharedPreferences there seems to exist a way of backing up and restoring data between uninstallation installation of an app so maybe a password based secure-storage would solve the issue (say

[2016-09-13 20:00] ggozad commented on #48
Doomsday has come and gone. All seems fine here, did you encounter any trouble?

[2016-09-14 08:42] ggozad commented on #38
I would not build such an elaborate mechanism for a single platform. In addition it is dubious to assume that if a user uninstalls an app he would like his secrets to remain.
I think it is safe to close this as I don't see it implemented in any way in the foreseeable future.

[2016-09-14 08:42] #38 closed

[2016-09-14 09:18] ggozad commented on #48
@briananderson1222 closing this as everything seems fine on iOS 10. If you do encounter any problems let me know and will reopen.

[2016-09-15 09:16] fmhun commented on #48
Hi @ggozad, @briananderson1222

I still encountering a similar issue on iphone 7 simulator (iOS 10), with Xcode version 8.0 (8A218a) and lastest plugin version from git master branch.

The ss.set() method returns the following error :

`message: "Failure in SecureStorage.set() - Refer to SecBase.h for description"`

Are you experiencing the same issue ?

[2016-09-15 09:39] ggozad commented on #48
Hey @fmhun /cc @briananderson1222
I am not sure what to take from this.
Tests all pass just fine on a real device, at least on my iphone 6 running ios 10.
Tests fail on emulator both on iphone 7 and 6.

We deployed the latests successfully on our own app and have had no problems reported so far.
This indicates that the problem is with the emulators, but of course I would like to resolve it altoget

[2016-09-15 13:45] briananderson1222 commented on #48
My experience has been the same as @ggozad. If you do want it to work on a simulator I have had luck with enabling the 'Keychain Accessbility' Capability as mentioned in this issue: https://openradar.appspot.com/27844971. I would monitor this issue as it appears to be an issue that stems from the the simulator itself.

[2016-09-15 13:47] ggozad commented on #48
Will leave this open even if it does not affect apps in production. If something changes please report here to keep everybody in the loop.

[2016-09-15 15:46] briananderson1222 opened #55 "Android secureDevice"
@ggozad I am trying to figure out when, or I guess how this functionality disappeared. On our application running on Android with an insecure device we used to get prompted to secure our device (I assume this happened in the `unlockCredentials` method in SecureStorage.java). In the init method I notice there is an else if statement that would potentially run this code if the initial if statement d

[2016-09-15 18:52] briananderson1222 commented on #55
@ggozad if `secureDevice` is intended to be used for invoking this modal why does it exist as a prototype method rather than a static one? Wouldn't I want to attempt to 'secure the device' before initializing my secure storage?

.. Also why are these callbacks required? and in the case of the `secureDevice` method what do they mean? I could swear that this modal used to pop up on its own before bu

[2016-09-15 19:48] ggozad commented on #55
Hey!
This has indeed changed a couple versions ago. Here's the rationale (which is also somehow described in the README, but feel free to improve the wording in a PR).
When initializing ``SecureStorage`` if the device is not secure the failure callback is going to be called. This gives the opportunity to the app to explain what is going on instead of prompting directly to change the screen lock wi

[2016-09-19 10:47] Darkoon opened #56 "Cannot read property 'native' of null. Warnings and errors."
Hello!
I wanted to try out this plugin in my angularJS cordova application. I wrapped plugin methods in simple service and used it in simple cases of setting/getting string value. Everything works fine but console logs a few warnings:
`Error in Success callbackId: SecureStorage1208879459 : TypeError: Cannot read property 'native' of null`
in cordova.js:312
Also after this, few errors pop:
`TypeErr

[2016-09-19 10:49] ggozad commented on #56
cc @demetris-manikas

[2016-09-20 19:56] demetris-manikas commented on #56
Hi.
Look like there are invalid entries in the storage.
The only reason I can think that could cause such entries would be that an entry in localStorage whose name starts with _SS_  and has not been created by the plugin.
@Darkoon could this be the case?
Can you please clarify whether the errors appeared after upgrading the plugin or the first time you tried it.
Also could you please debug and rep

[2016-09-21 06:33] Darkoon commented on #56
Hello again!
I'm not using localStorage in my project but decided to look at it, my localStorage is empty all the time.
Errors started to pop up from the very beginning and are connected with get method but they appear only once, after first use of get. I tried to test it on few devices and avd's but in all cases there were the same warnings/erros. Clearly I don't know what to do with that, plugin

[2016-09-21 06:37] ggozad commented on #56
This shouldn't stop you in anyway, we will have a look into it, but it should not affect the operation of the plugin.
In brief, we used to store encrypted data in localStorage but recently switched to using a native mechanism. There is a migration that happens the first time for those that had been using the old version. This migration fails in your case, but it shouldn't occur at all since it's a

[2016-09-22 08:15] itsJaeger opened #57 ""cordova.plugins.SecureStorage is not a constructor""
09-22 18:12:43.521 13324-13324/? I/chromium: [INFO:CONSOLE(65)] "Uncaught TypeError: cordova.plugins.SecureStorage is not a constructor", source: file:///data/user/0/com.adobe.phonegap.app/files/phonegapdevapp/www/js/index.js (65)

i'm pretty new at devloping in phonegap. so any advise would be appreciated.
when i try to create a phonegap storage instance via your walkthrough:

"		var ss = new cor

[2016-09-22 08:16] ggozad commented on #57
My guess is the module is not registered properly, something with your config...

[2016-09-22 08:20] itsJaeger commented on #57
Yeah i was thinking the same sir. so i checked my config, and confirmed the plugin is set in it
https://gyazo.com/b6f71a18ece21f287358e35391996bab
screenshot is attached of my config.
can you think of anything i did wrrong? i just added it via cordova
"cordova plugin add cordova-plugin-secure-storage --save"

[2016-09-22 08:23] ggozad commented on #57
Looks good to me. I have never used phonegap only vanilla cordova, so there might easily be something I am missing. Will leave this open in case somebody else can enlighten us :)

[2016-09-22 09:14] itsJaeger commented on #57
if you ever have time to test on phone gab it would be appreciated T_T i wouldnt know where to begin to try troubleshooting this, or do you have any other tips so i can narrow it down?

[2016-09-22 09:16] ggozad commented on #57
Could there be another place where the module is exported? Like window.plugins or something? Try with a debugger on the browser and see if phonegap registers plugins somewhere else perhaps.

[2016-09-22 09:29] itsJaeger commented on #57
i should mention im debugging this app for android.
it seems to work perfectly in the browser.

[2016-09-22 18:33] demetris-manikas commented on #57
Your config specifies minsdk to 14 whilst SDK 19 is required to use the secure storage plugin. Can you try with minsdk 19 and report back?

[2016-09-23 01:55] itsJaeger commented on #57
I spoke to the team at phonegap guys, apparently, the desktop app does not support any third party plugins. i appreciate the help :)

[2016-09-23 01:55] #57 closed

[2016-09-23 06:49] Darkoon commented on #56
Is there any other information I can provide to help fix this problem?

[2016-09-23 12:10] demetris-manikas commented on #56
@Darkoon If you could provide the name and value of the failing entry it could point us to the right direction. If this is a problem for you I could instruct you on how to do it. Thanks.

[2016-09-23 12:47] Darkoon commented on #56
I don't quiet understand about what entry are you talking (warnings/errors pop up for every key-value pair even for 'mykey', 'myvalue' from readme examples). So if you are talking about something else, please instruct me.

[2016-09-23 17:18] demetris-manikas commented on #56
I am talking about debugging the plugin code. The error happens while migrating old data as ggozad already mentioned. Adding a printout of the key value pair that is being migrated in line 362 of securestorage.js would do the job. You can do the change either by forking this project or by changing the downloaded plugin code.

[2016-09-27 06:52] AAUBSS opened #58 "App Crash on Android 4.3, Galaxy S3"
Hi,

I encountered an app crash on a Galaxy S3. The device was secured with a pattern and in a second test run with a pin code, both runs led to this crash:

[code]

[2016-09-27 07:04] ggozad commented on #58
Which android version is the device running?

[2016-09-27 07:09] AAUBSS commented on #58
It's running android 4.3.

[2016-09-27 07:10] ggozad commented on #58
Well, that's your problem. We need API 19, which is available from 4.4.

[2016-09-27 07:11] #55 closed

[2016-09-27 07:15] AAUBSS commented on #58
In that case you should consider adding the required api version in your plugin.xml

[code]

[2016-09-27 07:19] ggozad commented on #58
You are right of course. We actually had it in plugin.xml. If my memory does not deceive me it caused some problems with either ionic or phonegap, which is why we removed it and added the info in the README. Once I have the time I will dig the issue and see if it is still a problem, otherwise put it back.

[2016-09-27 07:28] AAUBSS commented on #58
Is there a possibility of a graceful fallback for those devices? Can you save data unsecured in those cases and/or inform the app about not being able to save data secure with the option of letting it handle the data saving in an alternative storage?

[2016-09-27 08:25] ggozad commented on #58
Problem is the android part of the plugin has already become overly complex in order to support the various variants. We now support two versions of AES, one native and one done through js depending on whether we are on >21 or not. This is because there is no keychain/vault built-in.

Eventually I would like to even drop support for android < 21, but that's not going to happen very soon.

You coul

[2016-09-27 08:50] AAUBSS commented on #58
Thank you for your detailed answer!

[2016-09-27 08:59] ggozad commented on #58
A pleasure.

[2016-09-27 08:59] #58 closed

[2016-09-27 16:27] baltazaroliveira opened #59 "Error in Android Marshmallow"
When i execute Secure Storage trough Ionic i get this error...

![erro secure](https://cloud.githubusercontent.com/assets/953742/18882592/b2861018-84d7-11e6-83e1-bfe8ddb40e5b.png)

Any permission?

Thanks

[2016-09-27 16:31] baltazaroliveira commented on #59
Read the documentation! Sorry!

[2016-09-27 16:31] #59 closed

[2016-10-04 08:15] Darkoon commented on #56
Sorry for the late response! Log added in line 362 was never called, so I decided to log key and value from line 385. I saw pairs generating warnings/errors, keys: `insert`, `pushArray `and `swap `are all set to `null`.

[2016-10-04 13:26] flieks opened #60 "android security without lockscreen?"
What if they don't have want a lockscreen?
Is there a better alternative to base64 encoding to localStorage ?

Greetings

[2016-10-04 13:34] ggozad commented on #60
Base64 encoding to localStorage:
https://www.youtube.com/watch?v=mcEyglpYuCk

Please don't be silly as explained in the doc, the lockscreen is required to have access to the relevant crypto.

[2016-10-04 13:34] #60 closed

[2016-10-04 15:29] flieks commented on #60
sorry, i modified the question which is: Is there something better then base64 ? As it's quite insecure..

[2016-10-07 17:30] jmotyl1959 commented on #56
Line 387 in www/securestorage.js does not check for a null value returned from JSON.parse and thus throws and exception.  I modified that line to read:

if (payload != null && !payload.native) {

and it fixed the problem for me.

[2016-10-07 20:33] demetris-manikas commented on #56
@jmotyl1959 Hey, thanks but you solve the problem by hiding the reason. Can you confirm Darkoon's findings?
@Darkoon thanks for your results I am looking into it.

[2016-10-07 21:54] demetris-manikas commented on #56
@Darkoon @jmotyl1959  Can you please verify that applying the correction I did in my PR fixes the problem? My tests show it does but I 'll wait until you verify. Thanks for the help.

[2016-10-08 10:19] sagarhiremath6 opened #62 "Code Sync issue after plugin installation"
I have no idea whether this issue is exactly issue of this plugin or not. But since I am facing this issue after installing plugin, I wanna know the fix:

I have phone gap folder which has folder **www** and it had certain html, js files. After that I added android platform, in result **android** folder got created under **platforms** folder.

After that I added some files to android folder. Every

[2016-10-08 10:35] ggozad commented on #62
This has nothing to do with the plugin.
Please read the docs on cordova/phonegap.

Hint: you don't add ANYTHING under the platforms folder. The folder is recreated when you build and changes will be lost.

[2016-10-08 10:35] #62 closed

[2016-10-10 12:15] Darkoon commented on #56
@demetris-manikas I can confirm that your correction fixed the problem for me.

[2016-10-11 11:06] SajevLucksman opened #63 "(Android 4.4.2 -4.4.4) AndroidKeyStore deleted after changing screen lock type or Clear credentials"
if we change the screen lock ( from PIN to Password for example ), the AndroidKeyStore is recreated empty and the previous generated key-pair are deleted. Couldn't retrive the old value after that.
plugin throws an error : error:0407106B:rsa routines:RSA_padding_check_PKCS1_type_2:block type is not 02

[2016-10-11 11:17] ggozad commented on #63
Indeed this is the case, but I do not see how to go around that as it is the android's keystore that is reset. This lies outside of the control of the app or the plugin.
Unless you have some idea about fixing this, let me know so that I can close the issue.

[2016-10-11 11:36] SajevLucksman commented on #63
According to this google bug id https://code.google.com/p/android/issues/detail?id=61989 .         Its recreated on Android 5.0, 5.01 as well but in Android 6 its working fine.Is there any way to replace android keystore ? Such as JKS , Bouncy Castle , [SpongyCastle](https://github.com/rtyley/spongycastle)   ?

[2016-10-11 11:43] ggozad commented on #63
While I would not refuse a well done PR on this, I would like to keep the android cost on this plugin to an acceptable level. At the moment the android part is way more complex than its iOS and windows counterparts, and already contains two upgrade paths. I would really like to avoid the extra maintenance cost on this further upgrade paths etc.

[2016-10-11 20:25] ggozad commented on #56
Fixed in 2.5.2

[2016-10-11 20:25] #56 closed

[2016-10-11 20:26] ggozad commented on #63
Closing this, but if you do make a PR using an alternative to keystore, I will be happy to review. IMHO not worth it.

[2016-10-11 20:26] #63 closed

[2016-10-11 20:42] SharkChips commented on #48
Has a resolution been reached on this issue?

[2016-10-11 20:43] ggozad commented on #48
Well everybody reported the problem only appears on the emulator and seems to be a known bug. Is this different for you?

[2016-10-12 00:22] yyfearth opened #64 "Is there a way to get all keys of one namespaced storage?"
For localStorage we can use `Object.keys(localStorage)` to get keys of all stored entries.
But this plugin seem like does not have this function.

Another important function might be needed is `clear()` since iOS never clean up keychain items even after app been uninstalled. But if I can get all the keys, I can implement that easily.

Update: seems like implement `reset`/`clear` function natively

[2016-10-12 06:20] ggozad commented on #64
A pull request will be welcome, I am sure others will chime in and provide android/windows support.

[2016-10-12 17:35] demetris-manikas commented on #64
The keys method is already implemented for android. It only needs to be exposed.

[2016-10-12 20:25] yyfearth commented on #64
@demetris-manikas cool, I saw both keys and clear are implemented for android.
Let me try to add iOS implementation and expose them.

I'm not sure how to unit test cordova plugin yet, I will try testing after I make them works.

[2016-10-12 23:56] yyfearth commented on #64
@ggozad I'm working on my branch which added `keys` and `clear` methods, and I will give you a PR after my code been tested.  https://github.com/yyfearth/cordova-plugin-secure-storage/commits/feat-clear-keys

Since it is my first time to write ObjC code, I'm not that confident before somebody else tested my code.

@demetris-manikas I have exposed it in my branch https://github.com/yyfearth/cordova

[2016-10-13 05:18] ggozad commented on #64
I will review everything once you are done, there's a first time for everybody nothing to worry about :)
Please make sure you add a test that the others can test against too.

[2016-10-13 10:57] SajevLucksman opened #65 "Android 5.1.1 - Appending "_SS_" value with the key."
Android 5.1.1 i have observed an issue from javascript passed key value "test/user" but i am getting an error message like  "error: Error: Key [_SS_test/user] not found. ". Seems inside the android native code it's appending "_SS_" value with the key value.

[2016-10-20 17:28] spaceagestereo opened #67 "iCloud syncing not optional"
SAMKeychainQuery.synchronizationMode is set by default SAMKeychainQuerySynchronizationModeAny which later sets kSecAttrSynchronizable to kSecAttrSynchronizableAny. I have some code but am not an Objective C expert. I did step through the debugger in XCode and it looks like my code is correctly setting the value of kSecAttrSynchronizable to "@NO". I wasn't sure if it was ok to do a PR against this

[2016-10-20 19:09] ggozad commented on #67
I would love it if you turned this into a proper pull request. That would mean document the options possible and how to set them and tests. Do not worry about reviewing ahead of the PR, we can take it as we go. Note that atm I am stumped with all sorts of things so I will take some time.

[2016-10-20 19:16] spaceagestereo commented on #67
@ggozad thanks for the feedback, I will do my best. This is my first time actually contributing on a project on GitHub. Thanks for all your work on this plugin!

[2016-10-20 19:18] ggozad commented on #67
Welcome to the open-source club 👍 I hope you will find it as gratifying as I have :)

[2016-10-21 03:43] thinkive opened #68 "android 4.4.2 Error:Device is not secure"
在android 4.4.2机器上提示 Error:Device is not secure，这是为什么呢？我的设备不安全？

[2016-10-21 07:22] ggozad commented on #68
Hey Thinkive,
My mandarin is rusty these days.
You will need to set a PIN on your android. see the documentation.

[2016-10-21 07:22] #68 closed

[2016-10-26 08:45] #64 closed

[2016-10-26 08:54] ggozad commented on #65
The _SS_ prefix is a remnant from the time we were using localStorage. I am not sure if I understood, does this cause an issue for you?

[2016-10-26 22:20] SharkChips commented on #65
Also I believe the browser platform still uses localStorage.

[2016-10-26 23:02] soniyj opened #69 "Set returns an error"
Hello All,

Trying to save it using the simulator but I get always this error.

Error: Failure in SecureStorage.set() - Refer to SecBase.h for description

What to do?

[2016-10-26 23:19] SharkChips commented on #69
This is an issue with the iOS simulator. See #48 for more details.

[2016-10-27 06:40] ggozad commented on #69
Yes, this is a simulator issue.

[2016-10-27 06:40] #69 closed

[2016-10-27 06:41] #65 closed

[2016-10-27 09:29] soniyj commented on #69
Ok so if I test it on a real device is going to work? I will test it.

[2016-10-28 13:26] kamilbrk opened #70 "Storing objects should either be supported cross-platform or not supported on Android"
Hi,

It seems like that storing objects as a value works on Android, even though it shouldn't be supported.

One of our developers implemented the plugin on Android platform, but it failed testing on iOS due to the underlying issue. Looks like the cordova plugin is not capable of type checking on .set() and does not use NSDictionary behind the scenes in SAMKeychain library.

So, I'd suggest to imp

[2016-10-28 13:36] ggozad commented on #70
You are right, in our own app I do the json workaround. A pull request would be most welcome.

[2016-10-31 08:21] lazy-ape opened #71 "TypeError: Cannot read property 'SecureStorage' of undefined"
Hi,
I have a problem when I use it. The code like this:
[code]

when invoke the `create` method have a error like the title, how can I solve it? Thanks!

[2016-10-31 08:34] ggozad commented on #71
Please read the docs. SecureStorage is namespaced and can be found under cordova.plugins

[2016-10-31 08:34] #71 closed

[2016-11-07 11:26] sectorf8 opened #73 "Can a twin app get data?"
If my mobile has installed a twin app (other instance of same app for example), can this app gets data from original app? (twin app know namespace and data names)
Thanks.

[2016-11-07 12:50] ggozad commented on #73
No.

[2016-11-07 12:50] #73 closed

[2016-11-08 09:03] ggozad commented on #70
We now check for strings only

[2016-11-08 09:03] #70 closed

[2016-11-11 19:16] SoldierCorp opened #74 "cordova_not_available"
I'm using ionic2 and when I try to create the store, always appears this error:

    cordova_not_available

This happens in the browser also in the app installed.

Do you have any idea?

[2016-11-14 09:55] ggozad opened #75 "Calling get() multiple times in a row fails on certain Android devices."
Added a test on the FIX-multiple-calls-android branch.
Tests pass on say emulator. The newly added test and sometimes the test that does 2 sets/gets in a row fail on a Galaxy S6 running android 6.0.1. /cc @demetris-manikas

[2016-11-15 15:45] demetris-manikas commented on #75
Unfortunately I cannot reproduce the error on my Galaxy S5 running android 6.0.1.
Maybe you have to get rid of your S6 and get the S7 (oxoxo).

[2016-11-17 13:41] ggozad commented on #75
From ``adb logcat``

[code]

[2016-11-17 19:32] demetris-manikas commented on #75
#20 looks like a similar error.

[2016-11-18 08:50] ggozad commented on #75
Fixed in #76, preferably it should have been done within the native part, but java...

[2016-11-18 08:54] ggozad commented on #74
Have you resolved this? It seems irrelevant to secure storage.

[2016-11-18 15:06] demetris-manikas commented on #75
#76 doesn't make sense to me, I believe it just hides another problem or bug.
Why fix only get and not set?
There is no reason why only one thread can decrypt but many can encrypt.
And for god sake java is not the problem here.
The code should be asynchromous and it was written this way on purpose.
If you wish to turn the android code to synchronous just remove threading from SecureStorage.java.
H

[2016-11-18 15:15] ggozad commented on #75
This is indeed the case, hence the note that this should be fixed in the android part.
The problem manifests only during decryption, which is why we only throttle then.
The problem appears in many different phones. I personally checked with S7 and a few others all running 6.0.1, it appears in most of them.
I will be happy to remove the queue, but it is obvious that this will happen only when the n

[2016-11-18 15:27] demetris-manikas commented on #75
Then it is much simpler to just add the synchronized keyword to the declarations of the encrypt, decrypt methods of the RSA.java and AES.java.

[2016-11-19 11:16] walaa118 opened #77 "ionic 2 SecureStorage does not store any data"
this errors occur when i try to use  SecureStorage  in ionic 2 project with visual studio:

create error : Error: Device is not secure
get error : Error: Key [_SS_myitem] not found.
set error : Error: Failed to load key for io.cordova.myappb0bf2a.my_store_name

  platform.ready().then(() => {

    let secureStorage: SecureStorage = new SecureStorage();
    secureStorage.create('my_store_name')

[2016-11-19 11:24] walaa118 opened #78 "is SecureStorage need permissions"
is i need to add permissions for each platform?
to solve this error
                Error: Device is not secure

[2016-11-21 08:49] aitor007in opened #80 "Get error"
Hi,
I have tried to implement the plugin, but when I do a "get" of a variable that is not yet created in the keychain the application gives me an error:

[code]

The error occurs in this class:

**SAMKeychainQuery.m**

[code]

The url variable returns nil, if I implement an if the plugin works correctly.

I tried in iOS 10 and 9 versions , my application use angular and ionic frameworks.

Thank yo

[2016-11-21 08:51] ggozad commented on #80
How do you initialize the plugin?

[2016-11-21 08:54] aitor007in commented on #80
Thanks for the quick reply:

[code]

[2016-11-23 12:04] ggozad commented on #78
Please read the docs.

[2016-11-23 12:04] #78 closed

[2016-11-23 12:04] ggozad commented on #77
Please read the docs.

[2016-11-23 12:04] #77 closed

[2016-11-23 12:04] #75 closed

[2016-11-23 12:46] ggozad commented on #80
I am not sure if I understand correctly but does your app crash?
When you try to get a key that does not exist, the error callback SHOULD be called, this is the expected behavior.

[2016-11-23 12:47] #74 closed

[2016-11-27 17:38] aitor007in commented on #80
Yes, but if url returns null inside SAMKeychainQuery.m, the app crash, this can be solved adding if condition before set resourcesBundle

`		_**NSURL *url = [[NSBundle bundleForClass:[self class]] URLForResource:@"SAMKeychain" withExtension:@"bundle"];**_
		_**resourcesBundle = [NSBundle bundleWithURL:url];**_`

[2016-11-29 10:04] ggozad commented on #80
I will be happy to fix this but I think it would be a lot better if it was fixed in SAMKeychain. Would you mind submitting to https://github.com/soffes/SAMKeychain, then I will merge when it's done there.

[2016-12-20 10:13] wh33ler commented on #48
I get this error also on a device. But not directly. After a fresh install and live building on the device at some point this issue appears and from then on it doesn't work anymore. Any news on this?

[2016-12-22 11:34] ggozad commented on #48
Hey @wh33ler , sorry for the late reply, christmas and all :)
We haven't experienced this on devices yet. Could you please run the test and report the errors you get on the console, on a real device?

[2016-12-27 07:00] sagarhiremath6 opened #82 "Plugin not functioning in Android 4.4.4 properly"
The issue is : The same is working above android version 5. But in android 4.4.4, values are getting deleted whenever I run app again.

[2017-01-02 16:52] atukilham opened #83 "How to check storage data after create namespaced storage"
First, i created namespaced storage.
Then, before set key/value, i want to check first that key/value has been set before.
How can i do that?

Here sample code :
[code]

I do that and my app was blank.
Anyone can help me, please?

[2017-01-03 02:07] guimabdo commented on #71
Actually this error is not exactly related to this plugin, but to an ionic2 plugin which wraps it.
Link: https://ionicframework.com/docs/v2/native/secure-storage/

You can resolve it by waiting for the ionic platform to be ready (Platform.ready() Promise) before instantiating the SecureStorage.

[2017-01-03 07:57] ggozad commented on #83
Unless you provide more info there really is no way to know if SS is even the culprit here. One thing to do is run ss.get only after initializing has succeeded.

[2017-01-03 07:57] #83 closed

[2017-01-03 07:58] #80 closed

[2017-01-03 07:58] ggozad commented on #82
Do you change your lock settings?

[2017-01-12 17:43] hellish opened #84 "NoSuchMethod"
Hello, I installed Secure storage but i get an error in playstore's crash report for
Android 4.2.

[code]

[2017-01-17 06:48] abcd-ca opened #85 "Storage limit triggers "CCM packet too large" error"
I am getting "CCM packet too large for choice of q", for a string value I'm trying to store when it's somewhere around 66000 characters in length. I'm trying to store a large, JSON.stringified data object (like a big survey). I tried creating a loop that just kept storing strings that were longer and longer, 1000 characters at a time until I got the error. My document could be greater than 100K ch

[2017-01-17 07:57] ggozad commented on #85
Hey,
While securestorage can support a reasonable payload size it was never meant to be used with anything that is not a key/secret.
The typical way you solve that is to encrypt yourself your payload with your choice of algorithm and then use securestorage to store the key which is small.
Let me know if this helps.

[2017-01-17 08:53] abcd-ca commented on #85
Thanks @ggozad. I have since verified that writing in chunks of 50K characters in separate key value pairs (and then reconstituting them on read-back) works well. I just don't know if I can have confidence in the 50K const. I didn't know it was only for key/secret but now you know, it can be exploited for greater things!

The problem with encrypting myself is that I'm not sure how to keep the priv

[2017-01-17 09:08] ggozad commented on #85
What you would normally do is create a random key, store the key in securestorage.
You trust securestorage anyway to store your payload it's the same trust that you would give when storing a key that encrypts the payload. Please review the code for info on how crypto works on securestorage beyond what is in the README.

[2017-01-17 09:08] #85 closed

[2017-01-17 19:02] abcd-ca commented on #85
Thank you

[2017-01-23 21:00] Combinations opened #86 "How to modify the message displayed by SecureDevice prompt?"
I can't seem to find out where to modify the message?

Currently it says:

Title: Set secure screen lock type

message: To use credential storage, set the screen lock
type pattern, PIN, or password.

Thank you

[2017-01-24 19:19] karlbateman commented on #86
The example for android describes the following;

[code]

I can only assume, this method would apply to iOS :smile:

[2017-01-24 19:22] karlbateman opened #87 "Error sourceUrl from `securestorage.js`"
Hey all,
I am trying to get the secure storage module intagrated as service.

I have the following so far, to test all is working..

[code]

Running the above with `ionic emulate ios -lc`, gives the following output;

[code]

What am I missing??

[2017-01-24 21:39] ggozad commented on #86
This is correct. It does not apply to iOS as it is handled automatically by the system.

[2017-01-24 21:39] #86 closed

[2017-01-24 21:41] ggozad commented on #87
Will this perhaps be better addressed in some ionic forum?

[2017-01-24 23:45] greigdendor commented on #87
Appears to be related to https://github.com/Crypho/cordova-plugin-secure-storage/issues/48

[2017-01-28 10:01] szankelDvag opened #88 "Issue iOS – Failure in SecureStorage.set() The specified item allready exists in the keychain"
Setup:
-	Ionic@2.0.0-rc2
-	Ionic-native@2.2.3
-	Cordova@6.4.0
-	Angular@2.1.1

We are currently developing some Ionic 2 mobile application. In regards of securely storing the data throughout the application workflow, we are using your secure storage plugin to store critical data. On Android everything seems to work fine. Under iOS we often times get messages similar to:

**The specified item allre

[2017-01-30 12:20] ggozad commented on #88
Hey, does the test suite runs ok with your setup?
We haven't seen this, could you try to add a failing test?

[2017-01-30 13:58] karlbateman opened #89 "Doesn't fallback to LocalStorage in the browser"
When running in the browser with `ionic serve` the storage is never created and thus the LocalStorage never used. Trying to set a value, results in an error.

The following sample app can used to simulate this https://github.com/karlbateman/debugApp.

[2017-01-31 14:35] szankelDvag commented on #88
Hi ggozad,

thanks for your response. I tried the test suite and added this test:

[code]

It runs fine. I also set <preference name="KeychainAccessibility" value="Always"/>

We still get that errors. It goes into that else case of the objective c implementation:

if ([query save:&error]) {
            [self successWithMessage: key : command.callbackId];
        } else {
            NSLog(@"key %s

[2017-02-01 05:09] neelancherivishnu opened #90 "In some devices secure storage store key-value pair perfectly(Asus Zenfon max ). But in some devices like htc secure storage doesn't clear the key value pair after calling this.secureStorage.remove('key')"
This is my code:
`
this.platfrm.ready().then(() => {
       this.secureStorage= new SecureStorage();
       this.secureStorage.create('storeroom')
       .then(
           () => console.log('Storage is ready!'),
          error =>console.log(error)
       );
this.secureStorage.remove('refcode')
    .then(
      data=>console.log('removed'),
      error=>console.log(error)
    );
    this.secureSto

[2017-02-02 09:40] ggozad commented on #90
Could you please run the tests and let us know what fails? Also what is the error you get?

[2017-02-02 09:42] ggozad commented on #89
Do you initialize properly with ```new cordova.plugins.SecureStorage(success, error, 'domain');```
Is there an error during init?

[2017-02-02 09:45] ggozad commented on #88
I am thinking that the error might have something to do either with your app or ionic or the underlying SAMKeychain we use. Could you please verify that SAMKeychain works for you? There is very little in our plugin that could cause these errors.

[2017-02-02 09:45] karlbateman commented on #89
Yep, see [here](https://github.com/karlbateman/debugApp/blob/master/src/app/app.component.ts#L39-L40). No errors on initialization.

[2017-02-02 09:48] ggozad commented on #89
I am sorry but are you perhaps using something completely different to out plugin?
I see
[code]
and also we do not have a ```create()``` in the API.

[2017-02-02 09:50] ggozad commented on #89
Oh I see Ionic has added support for our plugin. This is nice, it would be even nicer somebody would let me know too :)
My guess is that the wrapper they have made does not deal with browser, the browser platform is working fine on our plugin. Please create an issue with them and reference this one so that I also get informed :)

[2017-02-02 09:50] karlbateman commented on #89
The Ionic documentation links to this repo? see https://github.com/Crypho/cordova-plugin-secure-storage. I am assuming that after running ionic plugin add `cordova-plugin-secure-storage` I am using your plugin?

[2017-02-02 09:51] karlbateman commented on #89
Sure will do, thanks for the info ;-)

[2017-02-02 09:51] ggozad commented on #89
Awesome :)

[2017-02-02 09:57] #89 closed

[2017-02-02 16:28] jordins commented on #69
I can confirm that fails in an emulator but works in a real device.

[2017-02-02 18:31] demetris-manikas commented on #90
Hi. I believe the error that remove is called outside of the success function of create. One can safely use the storage only when the success of create has been called.

[2017-02-03 10:08] ggozad commented on #90
@demetris-manikas indeed, closing this unless more info is provided.

[2017-02-03 10:08] #90 closed

[2017-02-03 10:08] ggozad commented on #84
/cc @demetris-manikas

[2017-02-03 10:30] soniyj commented on #69
great thanks I totally forgot to write a comment on it, that I can confirm as well.

[2017-02-07 20:25] demetris-manikas commented on #84
Maybe this should be more visible in the docs. Android needs API 19 and higher. Android 4.2 is API 17.
@ggozad Maybe add Android 4.4 KitKat next to API 19.

Cheers.

[2017-02-08 07:51] ggozad commented on #84
Thanks @demetris-manikas clarification added.

[2017-02-08 07:51] #84 closed

[2017-02-09 09:08] szankelDvag commented on #88
Hi Ggozad,

it seems like we tried to write the same key-value pair in parallel, while registering and login the user, we store username and this resulted in the problem with the set. It seems anyhow that also if we try to get and remove key that doesn't exist the plugin throws javascript exceptions.

Sebastian

[2017-02-09 14:04] ggozad commented on #88
Hey Sebastian, the exceptions are by design. Typically you will want to wrap them if you do not wish to handle them. Closing this now.

[2017-02-09 14:04] #88 closed

[2017-02-16 17:43] jvjvjv opened #91 "Errors are inconsistent between platforms"
I am testing on iOS and Android, and it appears that if there is an error (e.g. object doesn't exist in secure storage), a string is returned in iOS but an object is returned in Android.

A new version should be created that resolves this issue by implementing a standardised error response among all platforms.

[2017-02-16 18:06] jvjvjv commented on #48
I actually haven't been receiving errors with this under 10.2 and 10.2.1

[2017-02-17 09:17] ggozad commented on #91
@jvjvjv yep this is indeed the case, had forgotten to come back to this.

[2017-02-17 09:18] ggozad commented on #91
Ops sorry, closed the wrong ticket:)

[2017-02-17 09:19] ggozad commented on #48
@jvjvjv yep this is indeed the case, had forgotten to come back to this.

[2017-02-17 09:19] #48 closed

[2017-02-17 09:21] ggozad commented on #91
There is a test that checks exactly that that passes fine on all platforms.
[code]

Are you sure you haven't actually set an empty string?

[2017-02-17 19:27] jvjvjv commented on #91
My issue came at getting a key that did not exist. In the error callback, iOS gives me the sentence, "The specified item could not be found in the keychain." Android returns, "Error: Key [_some ID_] not found."

They are completely different errors. I have to write an error handler that covers each platform I'm supporting, instead of writing a single error handler. That is why I requested a standa

[2017-02-18 09:35] ggozad commented on #91
The reason there is no universal error handler is because different platforms throw different errors. Of course it is entirely possible to write a handler that takes care of them all. This is a good candidate for a PR, so please make one and I will review.

[2017-02-20 05:55] jouzunasuko opened #92 "Getting error while installing this"
`-- cordova-plugin-secure-storage@2.6.3

npm WARN optional SKIPPING OPTIONAL DEPENDENCY: fsevents@^1.0.0 (node_modules\chokidar\node_modules\fsevents):
npm WARN notsup SKIPPING OPTIONAL DEPENDENCY: Unsupported platform for fsevents@1.1.1: wanted {"os":"darwin","arch":"any"} (current: {"os":"win32","arch":"x64"})

[2017-02-21 17:09] jvjvjv commented on #91
That's a great idea. I won't be able to as I am a front-end developer and can only handle the iOS portion, so I will spec out a concept for a universal error callback response. I'd need help with performing the updates for the other supported platforms.

I'll leave this open in the meantime.

[2017-02-24 03:00] ehorodyski opened #93 "Persistence between apps?"
I work for an organization that develops a suite of apps. We're looking to do SSO between our apps and I was just wondering if the iOS Keychain and Android Keystore are sandboxed or not. It's made very clear that it isn't for Windows, but wanted to confirm on the other platforms.

[2017-02-24 19:38] demetris-manikas commented on #87
@greigdendor
Sorry for the late reply but there is a common error in your code. You try to use the storage without waiting for its creation to finish. Move the set inside the success callback of create and it will work as expected.

[2017-02-24 19:48] demetris-manikas commented on #87
@ggozad  the examples of set and get should be revised to include the create method.

[2017-02-25 13:48] karlbateman commented on #87
How would `set`/`get` be used outside of the `create` method? Would this be best called during `initializeApp()`?

[2017-02-26 18:24] demetris-manikas commented on #87
As documentation states you only have to make sure that the success callback of the create has fired before calling any other method on the storage.
There are several ways to achieve this but here is not the place to explain them.
Look around and pick the one that suits you best.

[2017-02-26 19:51] greigdendor commented on #87
@demetris-manikas
No problem about late reply. You are right of course. I realised this and modified our test code, then I hit the problem with the iOS 10 emulator, hence I referred to #48 . In my haste I didn't explain how I got to that point in this issue. In any case the initial issue was resolved. Note that @karlbateman raised this issue but we work together.

@karlbateman
In reality the stora

[2017-02-26 20:00] karlbateman commented on #87
Similar to the use of LocalStorage in that respect. Thanks for getting back to me.

[2017-02-26 21:14] #87 closed

[2017-02-26 21:15] ggozad commented on #93
This is certainly possible on iOS and only has to do with how you configure the keychain access.
Not sure about android, you would need to investigate.

[2017-02-26 21:15] #93 closed

[2017-02-26 21:16] #82 closed

[2017-02-26 21:17] ggozad commented on #92
We haven't seen this ever before. Are you certain your node_modules are not foobared?
Can you check on a new app?

[2017-02-26 21:18] ggozad commented on #67
Any news on this? I am reluctant to close it as I would like to have a proper PR.

[2017-02-28 15:31] jvjvjv opened #94 "Android: Running 'set' on secure storage error"
In an app where I'm using this, I was trying to immediately set something after it didn't exist. Looks similar to the following:

[code]

Now, `_failOnGetCB()` would look like this:

[code]

If run like this at startup, the _failOnSetCB gets an error that reads "chain == null".

If you want me to look further into this, you'd have to wait a while, as my time is severely limited. I wouldn't be able

[2017-02-28 16:10] ggozad commented on #94
You need to do whatever operations you want to do after the init success has been called.

[2017-02-28 16:10] #94 closed

[2017-02-28 17:30] jvjvjv commented on #94
n00b mistake

[2017-03-06 19:15] demetris-manikas commented on #91
@ggozad Reading the code shows that an Error object should be returned on all platforms. Can you please verify that a string is returned on iOS when getting a non existent key and report back? Thanks.

[2017-03-09 08:14] ggozad commented on #91
@demetris-manikas will look into this asap.

[2017-03-16 07:52] ggozad commented on #91
@demetris-manikas errors are returned fine on all platforms, I also included your PR to make sure this is the case. However the issue here is that the error descriptions are not canonical. I.e. different strings come from different platforms.
I am not sure we should be handling this as we need to look into all possible exceptions thrown and handle them uniformly. This might become a burden as thes

[2017-03-17 02:11] Remicek opened #96 "Error input must be under 256 bytes. Android 4.4.2"
Hey, in the app i develope we have two routes:
1) User have pin/pattern enabled - everything fine
2) User doesnt have the pin and its asked to set it up, afer setting the pin we restart the app.

I use version 2.6.3 (the newest available now).
ss.secureDevice method return success. So secure storage should be ready.

Now in the second case we get this error, when trying to set key-value pair (it d

[2017-03-17 09:20] ggozad commented on #96
Yes the key is longer than the RSA key which should not be the case on API 19. Could you please run the tests and let me know what the result is?

[2017-03-17 16:41] Remicek commented on #96
@ggozad
Steps taken
1) Disable pin
2) Run manual test (init storage)
3) Set pin
4) Go back run automatic tests.

Here are the results of auto tests.
![autotestencryptedlocalstorage](https://cloud.githubusercontent.com/assets/4086702/24053294/e05d8056-0b38-11e7-80ff-95d6fac73c3e.png)

[2017-03-20 15:29] lukezbikowski opened #97 "iOS - stored keys persist when application is deleted and installed again."
I have found the following behaviour I believe is unexpected:
1. install the app and set some keys
2. delete the app
3. install the app again
keys are still there. Is that expected behaviour ? I believe that secured storage should be deleted with an app.

[2017-03-20 15:54] ggozad commented on #97
It's a bit unfortunate, but afaik this is the keychain behaviour. I would be happy to merge a PR if you come up with an elegant way to avoid that but not sure it's possible.
For our own app we offer to unlink the user from the app which deletes all keys they might have as a counter-measure.

[2017-03-20 15:56] ggozad commented on #97
This is perhaps an OK way of dealing with it if you wanna do a PR on it:
http://stackoverflow.com/questions/4747404/delete-keychain-items-when-an-app-is-uninstalled

[2017-03-22 22:34] lukezbikowski commented on #97
Thanks a lot! I will have a look on the aove and let you know gow it goes :-)

btw. Great work with the plugin!  👍

[2017-03-23 20:16] demetris-manikas commented on #96
@ggozad Test fixed in PR but this is irrelevant to this issue.
@Remicek The storage is ready to use when the initialization success callback is called and
not when the secureDevice succeeds.
Can you share a bit of code? It would be easier for us to trace the error.

[2017-03-27 16:13] jvjvjv commented on #91
1. One option is to leave it up to the end developer to research all possible exceptions across platforms and OS releases, and let them branch their code to handle Android/Windows/iOS exceptions separately. While devs inevitably have to do this, it seems to go against the core value of Cordova development of coding once to work on multiple platforms. (if that's the case you can close this ticket.)

[2017-03-27 19:40] demetris-manikas commented on #91
By just changing 'get' to not call the error callback but the success callback with a null value when a key is not present would solve the problem. But this is an API change  and I am not certain that users would like something like that. The other way to go is to make sure that all platforms return the same error message when calling 'get' with a non existing key.

[2017-03-28 14:13] jvjvjv commented on #91
I don't think an API change should be done unless absolutely necessary, and I think this issue can be solved just by making the platforms return the same error, which is actually [what I had originally requested](https://github.com/Crypho/cordova-plugin-secure-storage/issues/91#issue-208195027).

I also mentioned that I'd like to help out with this. I can only work on the iOS portion and my time o

[2017-03-28 16:19] Remicek commented on #96
@demetris-manikas after all it was a problem with my code, not with plugin itself.
Thanks for help

[2017-03-29 09:16] ggozad commented on #91
@jvjvjv please make a PR handling only the key not found error and returning the same string ("Key not found") for all platforms.

[2017-03-30 18:22] demetris-manikas commented on #92
@jouzunasuko Any news on this?

[2017-03-30 18:57] #92 closed

[2017-03-30 19:20] jouzunasuko commented on #92
@demetris-manikas not yet T_T

[2017-03-31 10:04] ezamelczyk commented on #44
Could you maybe provide a function to check if device is secure?

[2017-03-31 10:07] ggozad commented on #44
@ezamelczyk Isn't that what ```init()``` does?

[2017-03-31 17:08] ezamelczyk commented on #44
@ggozad Yeah, you're right! Thanks.

[2017-04-04 18:42] demetris-manikas commented on #96
@Remicek The code and the log don't match... Can you please provide matching ones?
Also this reminds me of the forgetful keystore mentioned in the README. Can you please attach the relevant log from the device?

[2017-04-04 19:36] Remicek commented on #96
@demetris-manikas

So there are 3 parts in that log (i've pasted only the 2nd and 3rd one, sorry about that)..
1) User has set pin: and run app::
[code]

2) User removed the pin and run app:

[code]

3) I try to set another key using the method below:

[code]

i get:
[code]

[2017-04-05 18:37] demetris-manikas commented on #96
@Remicek Reproduced. I am on it. I 'll let you know of my findings. Thanks.

[2017-04-05 19:15] demetris-manikas commented on #96
@Remicek I believe I got it. Please check if #104 resolves the issue for you too.

[2017-04-06 00:19] Remicek commented on #96
@demetris-manikas
Works like a charm now, thanks :)

[2017-04-09 03:55] #96 closed

[2017-04-09 04:19] demetris-manikas commented on #96
The changes are not merged yet so I keep this open

[2017-04-19 06:57] dcousens opened #106 "Changing Passcodes (Android & iOS)"
We know about ["Android Security: The Forgetful Keystore"](https://github.com/Crypho/cordova-plugin-secure-storage#android-keystore-deletion-on-security-setting-change),  but does the same apply to iOS for equivalent security?

My attention has been drawn to the following paragraph (page 14) from the [iOS security guide](https://www.apple.com/business/docs/iOS_Security_Guide.pdf):

behaves the sam

[2017-04-20 04:53] dcousens commented on #67
Does this imply iCloud backups are on by default right now?

[2017-04-20 10:04] ggozad commented on #67
@dcousens it does.

[2017-04-20 10:05] ggozad commented on #106
I would like to have a PR dealing with this across platforms. Bits of this are there for iOS.

[2017-04-20 11:54] dcousens commented on #67
@ggozad out of interest,  what does an iCloud backup even mean if it is `DeviceOnly`?

[2017-04-20 11:55] ggozad commented on #67
@dcousens my guess is that then no backup is taking place.

[2017-04-20 18:59] demetris-manikas commented on #106
Well I believe we should go the other way around.
kSecAttrAccessibleWhenPasscodeSetThisDeviceOnly should be used at all times.
This probably means dropping support for ios < 8.

[2017-04-20 19:30] demetris-manikas opened #107 "Windows implementation is crappy"
The current implementation uses the PasswordVolt which is meant for storing passwords (sic).
A proper one should use System.Security.Cryptography.ProtectedData for encryption and Windows.Storage.ApplicationData.Current.LocalSettings for storage.

[2017-04-20 22:38] dcousens commented on #106
@demetris-manikas I think the balance lies in the middle.
Rather than allowing configuration of exactly which `kSecAttrAccessibleWhenPasscodeSetThisDeviceOnly`,  I think the real question that exists is:

* Encrypt as `DeviceOnly`, or
* Encrypt as `WhenPasscodeSetThisDeviceOnly`

The two options are identical to `setEncryptionRequired` (on/off),  as all Android data is encrypted (by default) as `D

[2017-04-21 07:34] ggozad commented on #106
Please keep options available for developers as a configuration setting for those who want to use it. Then sane defaults should provide an as secure as possible setup for all platforms.

[2017-04-24 05:25] gvsrinivas1 opened #108 "saved values are getting lost"
Hi, I see in frequent the saved values are getting lost when load again:

install the app and set some keys
close the app
open the app and read values.
not able to get the values.

we use the same key to open the secure storage.

Error Error: Key [_key] not found.

OS : both Android and iOS.
Tested: Android OS 6.0.1 and iOS 10.2.1

Can you try to check and let us know why this happens and any fix?

[2017-04-24 07:49] ggozad commented on #108
I haven't seen this. Having it on both ios and android probably means you do something wrong. Could you please paste a minimal example code where this occurs?

[2017-04-24 07:52] ggozad commented on #106
To be more clear on the above, leave options open as long as they are secure.
So the ios should require a passcode or touch id (as it does) and then the dev should be able to configure whether they want icloud backups.

[2017-04-27 09:32] gvsrinivas1 commented on #108
we are using only the given api function like creating namespace, setting and getting keys and removing keys..

the scenario is like this-
- creating the namespace
- set the keys and values
- continue to use the keys for some days
- then suddenly we lost the keys
and its happens in ios and android over certain time, even the namespace remains same.

[2017-04-27 10:19] demetris-manikas commented on #67
KeychainAccessibility is the config option. Values not ending in ThisDeviceOnly provide iCloud storage only when encrypted backups are in use.
We might need to mention this in the readme.
Anyway I believe this thread should close.

[2017-05-08 14:39] besi opened #110 "SecureStorage Plugin not found in script"
**Ionic version: 3.x**
**I'm submitting a bug report**

**Current behavior:**

My app runs correctly in the browser, but when I deploy it to the simulator or the device I get the following error:

**Steps to reproduce:**

**Related code:**

I found the wrong reference in the created app at the following path:

    ~/Library/Developer/CoreSimulator/Devices/XYZ/data/Containers/Bundle/Application/ABC

[2017-05-08 14:40] besi commented on #110
I was advised by the ionic team to open a new issue in your repository.

See driftyco/ionic#11556

[2017-05-09 09:42] ggozad commented on #110
Hey @besi . I can't reproduce this on the latest cordova, at least not on iOS.
Could you please:
1. let me know what platform you are using
2. run the tests on a real device as in the README.

This might be an ionic issue for all I know, but we should be able to figure it out.

[2017-05-17 20:26] extempl commented on #108
@ggozad I assume the issue in namespace.

I see the issue on android - if you init SS with one NS, save some data, then create completely another separated instance of SS with different NS - you won't be able to read data with first instance, because the `ALIAS` will be different. Right now it only _writes_ correctly (ALIAS part is sending from the js client each write).

[2017-05-18 05:00] dcousens opened #111 "Return storage safety information"
Could the initialization inform the user of whether you're dealing with a "forgetful" key-store or not?
It would be helpful to streamline code/logic rather than dealing with platforms specifically in our own wrappers.

Especially seeing as `WhenPasscodeSetThisDeviceOnly` is forgetful too (wipes if passcode is changed).

[2017-05-18 09:39] ggozad commented on #111
Nope, this is your responsibility.

[2017-05-18 09:39] #111 closed

[2017-05-18 09:41] ggozad commented on #108
Ah I see. Yes using various namespaces is probably not used (at least we don't use it). Would you be so kind and:
1) Write a failing test.
2) Make a pr tackling this?

[2017-05-18 10:54] extempl commented on #108
@ggozad do you mean PR with test or with fix?

[2017-05-18 10:55] ggozad commented on #108
Well both would be great :)

[2017-05-19 09:02] #106 closed

[2017-05-19 09:02] #67 closed

[2017-05-24 08:27] digaus opened #113 "v2.6.6 breaks it on windows platform!"
Works fine with v2.6.5 but with v2.6.6 windows platform throws 'Missing Command Error' when trying to create the secure storage...

[2017-05-24 08:33] ggozad commented on #113
Nothing has changed afaik for windows in the last release. Could you please debug and figure it out, I don't have a windows machine available atm.

[2017-05-24 09:52] digaus commented on #113
This breaks it: https://github.com/Crypho/cordova-plugin-secure-storage/commit/006e1ac35c15dc601616d328be558005b570f165#diff-58ee91177abb530230d402dc2de60904L79

The reason is that windows is reusing the iOS stuff:

[code]

[2017-05-24 09:55] ggozad commented on #113
Ops yes you are right. Could you please override the constructor for windows so that it is as it used to be i.e. invoke success inside a setTimeout, run the tests on windows and make a PR?

[2017-05-24 10:43] digaus commented on #113
Trying to add the tests as shown in the readme results in 'Error: Registry returned 404 for GET on https://registry.npmjs.org/myapp'

[2017-05-24 15:57] #113 closed

[2017-05-29 11:53] #108 closed

[2017-05-29 11:53] #97 closed

[2017-05-29 11:53] #91 closed

[2017-06-04 19:12] demetris-manikas opened #115 "Support set/get multiple entries in one go"
I believe this would be a useful feature to add. Any thoughts?

[2017-06-06 06:45] ggozad commented on #115
I would say no to this. Would rather keep things as minimal as possible and also the idea being that we do not want to encourage the use of securestorage as a generic storage this seems not of much use.

[2017-06-06 06:46] #110 closed

[2017-06-07 07:36] shinta5150 commented on #97
Has this been added into the plug-in. I'd like to have this behaviour when uninstalling the app on ios

[2017-06-07 19:59] demetris-manikas commented on #115
I was thinking it may speed up some apps by avoiding to use the bridge many times. Anyway...

[2017-06-07 19:59] #115 closed

[2017-06-30 14:58] jakub-g opened #117 ""Error: nonce must have length from 7 to 13 octets" on KitKat when using `migrateLocalStorage: true`"
Hello,

I updated to 2.6.8 from an older version (2.2.x) and I've noticed the following issue;

- we construct SS instance with `migrateLocalStorage: true` flag (which is not publicly documented but I found out about it reading code and GH issues)
- when using `ss.set` we get an error `nonce must have length from 7 to 13 octets` on KitKat

Reading through the source code I think the issue is follo

[2017-06-30 15:01] jakub-g commented on #117
BTW can you explain why the KitKat has special treatment (perhaps pointing to some official documentation etc?) I could not find anything about it in Android documentation.

[2017-07-01 12:33] demetris-manikas commented on #117
The option you used is undocumented because you should not use it. It is just there for testing purposes.

[2017-07-03 08:32] jakub-g commented on #117
Hello @demetris-manikas thank you for your response.

Regarding what you wrote: since `migrateLocalStorage` is private and should not be used, then shouldn't `2.5.0` release have been a semver-major `3.0.0`?

It was not a drop-in replacement for pre-2.5.0 version of the plugin: since older versions were storing things to localStorage, after upgrade of the plugin, the data stored on users' devices

[2017-07-03 18:37] demetris-manikas commented on #117
@jakub-g I 'll try to explain you what is going on. The android implementation was underwent two major changes. One was to migrate storage from localeStorage to SharedPreferences and applies to all supported android versions KitKat (API 19) and above. The other one was to change the way that AES encryption occurs (from sjcl to native AES). The later can happen only for Lollipop and above and not f

[2017-07-03 21:43] chran8 opened #119 "Unable to get, set-instead getting an error"
I am creating an Ionic application. This is my method I am executing...

[code]

But when I go ahead and run this method, I get some type of error in xcode when running an emulator or on an actual device:

[code]
I've tried almost everything and can't seem to fix this

Thanks

[2017-07-04 07:23] cmartin81 commented on #119
I have the same problem. It works on android but not on IOS.

[2017-07-04 07:54] cmartin81 commented on #119
I fix it by running the code on a real device and by running it inside the platform.ready clause (this is for ionic, but there are a ready function for cordova also)

[2017-07-04 17:50] demetris-manikas commented on #119
@chran8 To successfully get back a value you need to call get after the success callback. Try placing the call to get in the success callback of set.
Also bare in mind that when the error callback of get is called this means that the key is not present in the storage.

[2017-07-04 18:03] chran8 commented on #119
@demetris-manikas That is true, but the problem I have is that even if I have only 'set' in my method, I get the same error mentioned above. I get that error in Xcode regardless of using the set or get method

[2017-07-04 19:15] demetris-manikas commented on #119
@chran8 Can you verify that the cordova deviceready event has fired before the calls to the plugin?

[2017-07-06 16:12] tangrl opened #120 "Error when saving data on iOS"
I'm getting an error when saving data.  I believe I had a success early on then suddenly it stopped working. The error is {"line":27;"column":24,"soureURL": "file://..../www/securestorage.js"}.

I made sure initialize secure storage after device ready:
**if (window.cordova) {
    document.addEventListener('deviceready', function () {
        window.secureStorage = new cordova.plugins.SecureStorage

[2017-07-06 17:28] tangrl commented on #120
Checked secureStorage.js file and figured out the data I was saving was not a string. Somehow JSON.stringify got lost in my code. It's a non-issue.

[2017-07-06 17:28] #120 closed

[2017-07-06 20:14] chran8 commented on #119
@demetris-manikas Yessir, I get the same error as mention above, even after nuking the project and starting a new one with the addition of the deviceready clause...
[code]
@cmartin81 Would you mind showing your implementation? Trying the same method but still getting the error even after nuking the project and starting a new one.

[2017-07-07 19:22] cmartin81 commented on #119
I made a provider that uses either localstorage if you are not on a device and the plugin if you are on a device:
`
class .....{

  async get(key) {
    if (this.platform.is('cordova')) {
      try {
        const storage: SecureStorageObject = await this.secureStorage.create(this.storageName);
        const result = await storage.get(key);
        return result
      } catch (e) {
        console

[2017-07-07 19:25] cmartin81 commented on #119
@chran8 Have you tried you code on an actual device? (It dosen't work on a simulator)

[2017-07-07 19:52] chran8 commented on #119
@cmartin81 Yes I've tried the code on an actual device and I get the same results

[2017-07-13 05:36] JamesMarino opened #121 "Method 'init:' not defined in Plugin 'SecureStorage'"
I am receiving the error `Method 'init:' not defined in Plugin 'SecureStorage'` in the Xcode console when trying to initialise the plugin in the below way:

[code]

Also, neither error or success callbacks are firing. On a colleagues device with the same code, version of Cordova, iOS and this plugin (2.6.5) it is working and not receiving this error as well as successful callbacks.

Would this be

[2017-07-13 06:26] JamesMarino commented on #121
This was due to inconsistencies in plugins. JS code had latest version whereas Objective-C code had version 2.6.5.

[2017-07-13 06:26] #121 closed

[2017-07-13 08:05] rishabh09 opened #122 "Not Working on rooted android phones."
On initializing the app i am getting error

it is working fine on non-rooted phones

[2017-07-16 21:06] demetris-manikas commented on #122
Hi! Sorry for the late reply.
No experience with rooted phones here.
Could you supply some more information about the error?

[2017-07-26 19:18] demetris-manikas commented on #119
@chran8 I tried it on android and works as expected. @cmartin81  is right about checking whether the platform is cordova before making calls to native plugins.
Have you come up with anything?

[2017-08-04 07:37] ksp147 opened #123 "java.lang.IllegalStateException: could not generate key in keystore"
can you please help me ?
`  java.lang.IllegalStateException: could not generate key in keystore
                                                                         at android.security.AndroidKeyPairGenerator.generateKeyPair(AndroidKeyPairGenerator.java:99)
                                                                         at java.security.KeyPairGenerator$KeyPairGeneratorImpl.generateKe

[2017-08-05 00:55] demetris-manikas commented on #123
Hi, could you share some code? Also it would be great if you could describe the steps to reproduce the error.

[2017-08-29 16:53] Cubaza opened #125 "Empty string when getting long values"
Hi,
I have a problem with plugin. When im trying to put long string into storage it is returning empty string. For example when I try to put value like below:

It is ok because i've got success response from my code. But when I want to read it with storage.get('key') it is returnig empty string = "". Is there any maximum lenght of value which i can put into the storage or I'm doing wrong  approach

[2017-08-30 13:05] demetris-manikas commented on #125
Hi, I am on vacation until the end of the week.
Does this happen on all platforms?
It would be great if you prepared a PR with a failing test.

[2017-08-31 16:33] Cubaza commented on #125
I found what i was doing wrong. I save to one plugin and read from another(i was testing two separate plugins). On your plugin it is working ok. Sorry that I interrupted you on vacation.

[2017-08-31 16:33] #125 closed

[2017-09-04 13:17] Writech opened #126 "Differ between "device not secure" and other exceptions on initialization"
The issue is that I dont know of a way to differ between "device just not having sufficient screen lock set up exception" and possibly some other exceptions occurring during SecureStorage initialization. The example in the Readme regarding checking for device being secure leaves an impression that ONLY time that an exception occurrs during initialization is when the device does not have sufficient

[2017-09-04 19:40] demetris-manikas commented on #126
When initialization fails due to device not being secured the errorCallback is called with the string "Device is not secure" as a parameter.

[2017-09-05 13:45] rjakl opened #127 "Android Kitkat get JSON error"
Hello, when I want to receive my stored data, I get "Error: JSON error" on Android Kitkat 4.4.2. When I set data, there's no error. Other Android versions are working fine. I've got pattern screen lock.
[code]
![error_jpg](https://user-images.githubusercontent.com/25985635/30064132-20087b12-9251-11e7-91cf-cead4e44bb19.jpg)

**UPDATE**
(Android emulator) I changed my lock to PIN and some alert wind

[2017-09-10 14:42] mrv777 opened #128 "Can't seem to get to work with Ionic 3"
Hello,

I have tried, but I can't seem to get this to work with Ionic 3.  It will work if I do `ionic cordova build  --release android` but not if I do `ionic cordova build --prod --release android`.  No error, it just won't save the password information so when you close the app and go back into it, there is no information.  This is what I have:
[code]

Any help is appreciated, and thank you :)

[2017-09-12 21:11] demetris-manikas commented on #128
Hi. This does not seem to be a problem with the plugin. I 'll take a look a it and let you know.

[2017-09-12 22:07] mrv777 commented on #128
Thanks for taking a look. I appreciate it.

So I'm guessing that it does look like I'm using the plug-in correctly?

[2017-09-12 22:19] jamesdixon opened #129 "non-secure fallback"
Hi,

Great plugin. Was just curious if you had any thought on a non-secure fallback? For context, I'm doing most development in the browser. Was thinking it might be nice to fall back to Ionic Storage or something if the app isn't running in a native environment. Thoughts?

Thanks!

[2017-09-13 07:18] ggozad commented on #129
Hey James,
This would be nice indeed, but it's not there. We have a mock we use internally that simply stores on localStorage but I am reluctant to provide as part of the plugin as most certainly people WILL use it.
Ideally, there should be support for the browser platform using SJCL for AES but the problem is generating and storing a key with something equivalent to the keychain which does not ex

[2017-09-13 20:10] demetris-manikas commented on #128
Sorry but I don't have any keys to sign the app so as to test the resulting apk of my test app.

[2017-09-14 06:44] ggozad commented on #128
Hey,
We develop secure-storage for cordova and unfortunately cannot provide support for the ionic wrapper.
A few things that seem problematic in your code (without necessarily being the cause of the problem).
1. You should never use async processes in a constructor. If there is something like componentMount or equivalent use that instead.
2. When dealing with multiple promises you probably need a

[2017-09-14 06:44] #128 closed

[2017-09-14 06:44] #129 closed

[2017-09-14 06:46] ggozad commented on #127
Could you please run the tests and report any errors?

[2017-09-14 06:46] #126 closed

[2017-09-14 06:47] #123 closed

[2017-09-14 06:48] ggozad commented on #122
Rooted android is unfortunately not supported.

[2017-09-14 06:48] #122 closed

[2017-09-14 06:48] ggozad commented on #117
Since there is no more feedback and this is an old issue, closing.

[2017-09-14 06:48] #117 closed

[2017-09-14 06:49] #119 closed

[2017-09-14 06:49] #107 closed

[2017-09-14 18:28] jamesdixon commented on #129
@ggozad thanks for the thoughtful reply!

What you said makes a lot of sense; people will undoubtedly end up using an insecure version :)

I believe I'll stick with using a local mock that uses localStorage when in the browser.

Thank you!

[2017-09-15 14:12] rjakl commented on #127
All tests passed. I noticed that in tests there is get function called inside secure storage init success handler, not after initialization. So I moved get function there too and now It's working fine. Thanks. :)

[2017-09-15 14:12] #127 closed

[2017-09-20 05:59] jamesdixon opened #130 "question on usage"
Hi,

I found it slightly odd that an error is thrown if a key cannot be found in the keychain. Is that intended? I feel like if no key is found, no value would be returned.

Is this the intended usage?

Thanks!

[2017-09-20 07:26] ggozad commented on #130
Hey James,
This was intended when first implemented in order to allow say nulls to be stored as values.
I will agree that it should have not been the case, but it's a bit late for breaking API changes.
So, sorry, but this is unlikely to change.

[2017-09-20 07:26] #130 closed

[2017-09-20 12:54] gigocabrera opened #131 "Uncaught (in promise): cordova_not_available"
I'm trying to add Secure Storage plugin to my ionic app following the instructions below:
http://ionicframework.com/docs/native/secure-storage/

I added the plugin to my app's module to the provider section and added the code below to my app.component.ts inside `platform.ready()`

[code]

However, I'm getting the following error:

[code]

I'm using the latest ionic as of today.

Any ideas?

[2017-09-20 15:48] jamesdixon commented on #130
@ggozad no worries at all! Thank you for the quick reply! Cheers.

[2017-09-20 16:16] gigocabrera commented on #131
Do I need to wrap it like this to evaluate for plarform? Maybe?

[code]

[2017-09-20 16:41] ggozad commented on #131
This looks very much like an issue with ionic's wrapper over our plugin.
While it's great that ionic decided to use our plugin as their goto secure storage, we do not have the resources to test on ionic and support ionic's wrapper. You might have more luck asking over at their repos.
I am gonna leave this open for a while in case people who use ionic want to chime in.

[2017-09-20 17:55] gigocabrera commented on #131
Thank you @ggozad, I'll reach out to them

[2017-09-20 19:03] demetris-manikas commented on #131
@gigocabrera Hi. I believe you have to test platform.is("cordova").

[2017-09-20 19:15] gigocabrera commented on #131
I found this
https://stackoverflow.com/questions/42840951/uncaught-in-promise-cordova-not-available-in-ionic-2

[2017-09-20 19:15] gigocabrera commented on #131
@demetris-manikas thank you!!!

[2017-09-20 19:16] #131 closed

[2017-10-20 09:01] kilfour opened #132 "password for credentials storage"
On android some users are prompted to enter a password for credentials storage upon initialization of the plugin.
They have got their screen lock set to Pin.

[2017-10-26 16:17] juliandavidmr opened #133 "include Browser into Supported platforms"
## Readme
include **Browser** into Supported platforms of readme doc

[2017-10-26 17:47] ggozad commented on #133
Would it not be simpler to just do a PR?

[2017-10-26 17:47] #133 closed

[2017-11-02 18:17] omargon opened #134 "Not working on IOS 11.1 emulator"
Secure storage fails after upgrading to Xcode 9 and running IOS emulator on IOS 11.1. Anyone else experiencing this issue?

```Error: {"line":59,"column":50,"sourceURL":"/plugins/cordova-plugin-secure-storage/www/securestorage.js"}```

Emulator command:

`ionic cordova emulate ios --target=iPhone-5s -lc`

Ionic Info:

[code]

[2017-11-08 19:14] niekheezemans commented on #134
Same issue here with Ionic.

It works when I run "cordova build ios" and then run the simulator from XCode. It doesn't work when directly running "cordova run ios" or "cordova emulate ios" from the CLI with or without the parameters for livereload.

I also enabled KeyChain sharing in the XCode project

cli packages: (/usr/local/lib/node_modules)

    @ionic/cli-utils  : 1.17.0
    ionic (Ionic CLI

[2017-11-11 06:58] sagrawal31 opened #135 "SecureStorage.set() not working for i"
Using **Ionic 3** and installed the latest version of this plugin and when invoking the `set` method on iOS 11.1 emulator and getting the error

[2017-11-11 07:00] sagrawal31 opened #136 "SecureStorage.set() not working for iOS 11.1 simulator"
Using **Ionic 3** and installed the latest version of this plugin and when invoking the `set` method on iOS 11.1 emulator and getting the error:

[code]

I opened the simulator dev console and directly tried as given int the docs:

[Create a namespaced storage](https://github.com/Crypho/cordova-plugin-secure-storage#create-a-namespaced-storage)

[code]

and then

[Set a key/value in the storage](h

[2017-11-11 19:23] #135 closed

[2017-11-11 19:24] ggozad commented on #136
Duplicate of #134

[2017-11-11 19:24] #136 closed

[2017-11-11 19:25] ggozad commented on #134
Somebody will have to volunteer to fix this.

[2017-11-11 19:26] ggozad commented on #132
Yes this is to be expected as in the docs.

[2017-11-11 19:26] #132 closed

[2017-11-12 04:14] sagrawal31 commented on #134
Not have any experience with iOS Native code but if you can point out to the problem then I can try & fix it.

[2017-11-12 04:16] sagrawal31 commented on #135
Duplicate of #134

[2017-11-16 21:19] joshterrill commented on #134
@ggozad just like @sagrawal31 said, I could also try to fix it as well, if you could just point us in the right direction. I need this for an app I'm working on and would gladly give it a shot.

[2017-11-17 10:20] ggozad commented on #134
@sagrawal31 @joshterrill
I am not entirely sure there is something you can do. When the emulator stoped working a year ago we had to wait for a new release of xcode.

[2017-11-29 13:38] mikeg-red5hift commented on #134
We got it working by setting a value for the preference:

[2017-12-05 14:54] huerlisi commented on #134
@alesrosina I think you had a similar problem with a similar fix as @mikeg-red5hift documents?

[2017-12-05 15:11] alesrosina commented on #134
@huerlisi I had to manualy open project in Xcode and set `Keychain Sharing` to ON under Capabilities in project Settings. Without this manual setting this did not work for me.

But as mentioned in the thread, this works only for buliding, not for debuging. So same problem as inital report :)

[2017-12-18 06:47] Vishwa17 opened #137 "There is no Browser Support"
In Ionic website it is mentioned , there is browser support but it doesn't seems there is browser code  ?
Could you please help me on this?

[2017-12-18 08:14] ggozad commented on #137
The browser support is only supposed to be used for testing. Not production.

[2017-12-18 08:14] #137 closed

[2017-12-19 10:51] Vishwa17 commented on #137
SO which storage i can use for IONIC Progressive Web Apps ?

[2018-01-05 14:54] extempl opened #138 "plugin conflicts with splashscreen plugin on Android"
I faced this issue while an app startup - I have several SS initializations on first of which white screen appears instead of the splashscreen. Tried to debug, but do not see anything that may affect this. Can it happens because of using main thread?
It also reproducible when app is already started
[code]

Could you point me to the right direction, maybe some patch with which I could fix this?
Alr

[2018-01-05 20:00] extempl commented on #138
The timing between pause and resume is about 20-50ms.

[2018-01-15 11:10] ElRochito opened #139 "Can't resolve all parameters for SecureStorageObject: (?)."
Hi,

I've got this message when I run my app on android device "Can't resolve all parameters for SecureStorageObject: (?)."

Has someone already had this problem ?

I'm wondering if this is not an import problem in the app.module.ts file but I do not see which one.

Thanks

[2018-01-30 23:48] AndrWeisR commented on #134
@alesrosina `Keychain Sharing` fix worked for me. I did _not_ have to add @mikeg-red5hift preference setting above.

[2018-01-31 00:34] AndrWeisR opened #140 "Is this plugin too risky to use due to lack of support?"
As the readme states:

Does that make this plugin too risky to use for a production app? What happens if it breaks and your access to native secure storage disappears?

[2018-01-31 09:54] niekfrontmen commented on #134
Keychain sharing is a setting for allowing multiple Apps to access the same keychain.

Try adding this to your config.xml under the iOS platform:

<edit-config file="*-Debug.plist" mode="merge" target="keychain-access-groups">
            <array>
                <string>$(AppIdentifierPrefix)your.yourbundle.id</string>
            </array>
        </edit-config>
        <edit-config file="*-Releas

[2018-01-31 13:01] zielinskikamil commented on #140
Good question +1

[2018-01-31 15:53] helderdiniz commented on #134
`Keychain Sharing` on Xcode also fixed it for me but the `KeychainAccessibility` property did not.

[2018-03-01 09:48] BorntraegerMarc commented on #137
@Vishwa17 Check out https://stackoverflow.com/questions/22811160/store-data-locally-using-html-and-javascript for example

[2018-03-28 10:59] Cakaaa opened #141 "No callback is being called"
Hey guys,

I have successfully installed the plugin, at least I think, but none of the callbacks are being called so I am not sure if its working.

The code that i am executing after the 'deviceready' event:

`
        let keyChainId = 'testbucket';

        let key = 'password';
        let value = 'mySecretttt';

        let ss = new window.cordova.plugins.SecureStorage(
            () => {

[2018-03-29 17:24] dganzella commented on #141
for me its working
download zip of the project
use cordova plugin add <path_to_plugin> --nofetch
add a button to html
when button is pressed, call these

            var ss = new cordova.plugins.SecureStorage(
                function () {
                    console.log('Success STORAGE');
                     ss.keys(
                        function (keys) {
                            console.

[2018-04-03 11:10] WillianAS commented on #139
I have same problem!
Did you solve this problem?

[2018-04-05 14:55] WillianAS commented on #139
Me too!
But I remove the SecureStorageObject of the provider. Now I have a problem with "npm err elifecycle" hahahahaha
Thanks for reply!

[2018-05-02 04:00] DennisSmolek commented on #141
@Cakaaa will you close the issue if you got it working and it was more related to your code?

[2018-05-02 04:56] #141 closed

[2018-05-11 10:02] MaKleSoft opened #143 "Take Over Maintenance"
Sent an email to dev@crypho.com but didn't get an answer, so I'm trying to get in touch this way. I'm interested in taking over maintenance for this plugin as part of the [Padlock](https://github.com/maklesoft/padlock/) project. Let me know what you think! /cc @ggozad @demetris-manikas

[2018-05-11 10:47] ggozad commented on #143
Hey there, this is my bad, I have been stumped with work and your message got lost into oblivion.
I will talk with Demetris and if ok get back to you next week?

[2018-05-11 11:01] padlock commented on #143
Yep, sounds good!

[2018-05-11 11:03] MaKleSoft commented on #143
Yep, sounds good!

[2018-05-13 21:38] DennisSmolek commented on #140
That is what has happened with [The Intel Security Plugin](https://github.com/AppSecurityApi/com-intel-security-cordova-plugin)

My suggestion is either to use this repo and hope that it keeps getting (somewhat) maintained right up until the point it breaks for you but make testing it a priority for your update/feature builds so you can detect it early..

At that point, if no one has taken this ov

[2018-05-14 20:32] muttineni2020 opened #144 "Is it possible to invoke secretkey from android keystore file."
For security concern, would it be possible to invoke secret key alias stored in androidkeystore ( while signing the apk).  Can anybody help me on this issue.

Thanks,

[2018-05-15 09:04] ggozad commented on #144
I am sorry I have no idea what you are talking about. Could you please phrase this a bit better?

[2018-05-15 14:32] ggozad commented on #144
Oh I see. No I am afraid this plugin is meant to encrypt and store user secrets.

[2018-05-15 14:47] muttineni2020 commented on #144
Any other solution or suggestion you might have. We are having hard time to get this kind functionality.

[2018-05-15 18:03] ggozad commented on #144
I am afraid not. Gonna reopen this for a week or so in case someone else does.
To be honest, I can't think of why you would want to do what you want to do. Relying on a secret that is not user known but rather client known feels wrong, so perhaps you want to explain a bit further.

[2018-05-15 18:15] ggozad commented on #140
I wasn't gonna step in but hey :)
The plugin does what it promises well and has been stable as is for a long time.
We have no plans of further expanding it because it does well what it promises.
Both I as well as @demetris-manikas have been responsive and will continue to do so as time permits even if we do not use the plugin in production any longer.

I was hoping that given the plugins inclusion

[2018-05-15 18:16] #139 closed

[2018-05-15 18:17] #138 closed

[2018-05-15 18:18] #134 closed

[2018-05-15 19:29] demetris-manikas commented on #140
I want to reassure users that I 'll continue to support the plugin.
I support it without being a member of the company behind it for a long time now
and I 'll continue to do so.
Cheers.

[2018-05-17 14:13] BorntraegerMarc commented on #143
I would love to see a new maintainer!!!

[2018-06-19 19:05] distante opened #145 "When does the "Android Security: The Forgetful Keystore" present it self?"
I am try to figure out how to control this problem but does not matter what I do (change from no screen-lock, to pin,password, path, etc) this problem does not happens.

I have tried on Devices with Android 5.0.1, 6 and 8, also on Emulator with Android 5 and 7. Is this still a problem?

[2018-06-19 20:09] ggozad commented on #145
Please, this is not reddit.

[2018-06-19 20:09] #145 closed

[2018-06-19 20:22] distante commented on #145
Yes but this plug [documentation ](https://github.com/Crypho/cordova-plugin-secure-storage#android-keystore-deletion-on-security-setting-change ) says :

And yet I am unable to reproduce this on devices or emulators. Do I have to go to reddit and there about this plugin?

[2018-06-29 19:23] newlegendmedia opened #146 "Google Smart Lock"
We have implemented this plugin and its working great!

However, we came across Google Smartlock and it has some features that would help our users, such as sync of credentials between websites and apps.

Do you plan to implement Google Smartlocks in this plugin?  I currently dont see any Cordova plugins that implement it.

[2018-06-30 15:15] demetris-manikas commented on #146
Hi Jeff. Password management is not within the purposes of this plugin. So I don't think it will be implemented.
Thanks.

[2018-07-05 16:08] wkyleg opened #147 "Support"
What is the status of this project? I am interested in using this plugin, but would like to now how actively maintained it is before doing so

[2018-07-05 16:17] ggozad commented on #147
We are doing fine thank you.

[2018-07-05 16:17] #147 closed

[2018-07-23 08:49] #140 closed

[2018-07-23 08:49] #143 closed

[2018-07-23 08:49] #144 closed

[2018-07-23 08:49] #146 closed

[2018-08-12 03:09] vanye007 opened #149 "Error: uncaught TypeError"
When i run my cordova app on browser using phonegap desktop it works fine but when i run it on device using phonegap mobile which connects to desktop ip. I get this error: cordova.plugins.secure.storage is not a constructor in file:///data/user/0/com.adobe.phonegap.app/files/phonegapdevapp/www/js/pages.js at line 783

[2018-08-20 03:59] craidencool13 opened #150 "Ionic 3"
Hi, I am currently using Ionic 3 framework and I would just like to ask how do you completely wipe the storage data upon uninstallation of the app. Thanks!

[2018-08-20 20:30] demetris-manikas commented on #150
To avoid automated backup/restore

IOS: set the KeychainAccessibility to a *ThisDeviceOnly setting.

Android: change the manifest file to read as follows
<manifest ... >
    ...
    <application android:allowBackup="false" ... >
        ...
    </application>
</manifest>
See https://developer.android.com/guide/topics/data/autobackup#EnablingAutoBackup

@ggozad Should this be added to the README?

[2018-08-29 00:48] craidencool13 commented on #150
Thank you for responding @demetris-manikas !

[2018-10-11 15:11] ajayambre opened #151 "Can multiple Android apps from a Company access the same shared data?"
I apologize for posting a question here, but I could not find a detailed documentation explaining how multiple apps from the same Company can use this plugin to share data between them.

We were able to make this work on iOS by using the same string value in the KeyChain preferences settings in XCode and when creating the SecureStorage in our code. But could not find something similar for our Andr

[2018-10-11 18:08] demetris-manikas commented on #151
Hi @ajayambre
Not sure if this is going to work but check

https://developer.android.com/reference/android/content/Context.html#MODE_PRIVATE  and
https://stackoverflow.com/questions/6354035/two-android-applications-with-the-same-user-id

Beware that the SharedPreferences instance is generated using
getContext().getPackageName() + "." + service.

Please report back if you manage to make it work.

[2018-10-12 15:34] ajayambre commented on #151
Thank you @demetris-manikas

I added the same value for `android:sharedUserId` in `AndroidManifest.xml` for both my apps. But it was not enough.

I was able to make this work but had to do the below code changes.

Change 1:
As you rightly said, the SharedPreferences instance had to be generated in a different way as every app will have a unique package name. I changed this and stripped the last pa

[2018-10-12 20:31] demetris-manikas commented on #151
I would love to see a PR on this.
Lets see some code!

[2018-10-13 08:10] ggozad commented on #151
This looks to me as a bad idea. How do you handle the shared secret in this case?

[2018-10-15 08:53] ajayambre commented on #151
Hi @ggozad

I am not sure if I understand your concern correctly.

Is it because of the flags `Context.CONTEXT_IGNORE_SECURITY | Context.CONTEXT_INCLUDE_CODE` OR with the idea of using the `createPackageContext` altogether.

If it is just because of the flags, then I tried doing `context.createPackageContext(packageName, 0)` and that still works if both the applications use the same `android:share

[2018-10-15 12:02] demetris-manikas commented on #151
@ggozad They are called SharedPreferences if you noticed...
@ajayambre My experience with ggozad is that when he sets his mind about something it is hard if not impossible to change it. So I recommend you fork this project and realize your idea. Sorry for letting you think you would contribute here.

[2018-10-15 12:36] ggozad commented on #151
Hey @ajayambre,
The flags are indeed the problem. They would potentially allow other apps to also read the preferences and compromise the key. When passing `0` instead of `Context.CONTEXT_IGNORE_SECURITY | Context.CONTEXT_INCLUDE_CODE` you are essentially passing all the flags together, it's a bit mask, see https://www.learncpp.com/cpp-tutorial/3-8a-bit-flags-and-bit-masks/ for example.

[2018-10-18 18:15] jwburnside opened #153 "Cannot access SecureStorageObject in Ionic 5 if lock screen security disabled in Android"
I am injecting SecureStorage into my Ionic app constructor:

[code]

And then I attempt to create a namespace with lock screen disabled:

[code]

Since the lock screen is disabled, the result is an error. I'd like to run secureDevice() in the error block, but I don't have access to the SecureStorageObject.

How do I handle the error in this case?

[2018-10-18 18:21] demetris-manikas commented on #153
Hi.
Sorry but this seems like a question for the ionic framework. Can't really help you with this.
Closing for now.

[2018-10-18 18:21] #153 closed

[2018-10-21 16:55] ajayambre commented on #151
Thanks for the detailed explanation @ggozad
Sorry for the delayed response.

Request you to please have a look at the below code.

Consider App1 with `com.example.app1` as package name.
It uses `com.example.app1` as packageName param when creating the SecureStorage.
The SharedPreferencesHandler would be created with the same default Context as it is being done with the current implementation as `c

[2018-10-22 08:33] ggozad commented on #151
Hey, I had a closer look at this. As long as you pass `0` to `createPackageContext` you should be fine, you are merely passing a different package name to create your package context.
So it should be ok to share the storage across apps this way.

[2018-10-22 08:56] ajayambre commented on #151
Thank you @ggozad
Can I submit a PR for this?

[2018-10-22 09:35] ggozad commented on #151
@ajayambre Feel free to do so. It should not be a default behavior, perhaps a config option is appropriate.

[2018-11-01 11:36] #150 closed

[2018-11-01 11:37] #149 closed

[2018-11-01 11:38] ggozad commented on #151
@ajayambre gonna close this as there is no issue to resolve. Waiting for your PR.

[2018-11-01 11:38] #151 closed

[2018-11-08 17:22] ajayambre commented on #151
@ggozad  As suggested, have added an optional packageName option for Android.
There are no breaking changes for existing apps and I expect that they will be able to fetch values for previously saved keys.

[2018-11-28 05:06] FarhadG opened #156 "Where can I inspect the saved passwords on my iOS device?"
I understand that all data is being stored within iOS Keychain, however, as I'm developing and running the application on my iPhone, I don't see the actual values stored in the keychain. I'm able to set and retrieve the data, however, when I go to `Settings`>`Passwords & Accounts`>`Website & App Passwords`, I don't see the data there. I'm assuming I'm looking in the wrong place?

[2018-11-28 11:32] ggozad commented on #156
There isn't really a place where you can see the key/values. They won't be shown under Website & App Passwords. IIRC this is possible if you set up "Shared web credentials" but your mileage may vary.

[2018-11-28 11:32] #156 closed

[2018-11-28 14:22] FarhadG commented on #156
Thanks for the quick response, @ggozad! I guess I'm curious on how to ensure others don't have access to these credentials. If I understand correctly, the only thing that distinguishes the secure storage access is the provided `key` to define its domain space. Given this `key` is set within the Cordova app (i.e. frontend), I'd imagine it would be pretty easy for anyone else to get access to this k

[2018-11-28 16:54] FarhadG commented on #156
Ah, I see! Thanks for that clarification, @ggozad . So, by `key`/`value` of the domain space, the following would be represented, more-or-less, by the following underlying dictionary:

[code]

[2018-12-14 08:11] BorntraegerMarc opened #157 "Exception on Android Pie"
On my OnePlus 6T I always receive the following error when I `get` or `set` something:
[code]

The plugin still continues to work but the exception should be fixed.

I think it has something to do with an API change? Source: https://stackoverflow.com/questions/52024752/android-p-keystore-exception-android-os-servicespecificexception

PS: I'm using v3.0 of this plugin

[2018-12-14 08:16] ggozad commented on #157
/cc @demetris-manikas

[2018-12-15 17:33] demetris-manikas commented on #157
I will look into it during next week.

[2018-12-15 17:33] demetris-manikas commented on #157
I will look into it during next week.

[2018-12-18 20:30] demetris-manikas commented on #157
@BorntraegerMarc  Thanks for reporting this.

[2018-12-19 10:18] #157 closed

[2019-01-04 08:08] BorntraegerMarc commented on #157
@demetris-manikas sorry for bothering again. I'm not entirely sure what happened but the exception doesn't occur anymore on my side. Maybe it was some weird caching.

You may still verify on your side, if you want. I will get back at you if I see it again

[2019-01-19 02:57] abelabbesnabi opened #159 "Where is sjcl_ss.js?"
In Android, it says:

E/AndroidProtocolHandler: Unable to open asset URL: file:///android_asset/www/plugins/cordova-plugin-secure-storage/www/sjcl_ss.js

It's non-existant in the repo..

[2019-01-21 21:33] demetris-manikas commented on #159
Hi. Usage of sjcl was dropped at version 3.0.0.
Could you supply some info on plugin version and device used?

[2019-01-21 22:10] abelabbesnabi commented on #159
Hi,

I used the latest plugin as of when I sent the email. It's still being
required for some reason..

On Mon, Jan 21, 2019 at 1:33 PM Demetris Manikas <notifications@github.com>
wrote:

[2019-01-26 21:15] danicholls opened #160 "Dependency on SAMKeychain"
I don't see any issues here about it, which is a good sign, but over on the [SAMKeychain repo](https://github.com/soffes/SAMKeychain/issues) it looks like some folks are having trouble with iOS12.

Since the maintainer is not replying, it's hard for me to know if this is a real problem or people misusing things. Any need/desire to switch dependencies?

Thanks!

[2019-01-31 18:03] demetris-manikas commented on #160
Hi.
@jimmymultani Could you please file a separate issue describing the problems you face on android?

[2019-01-31 21:21] JimmyMultani commented on #160
Hey @demetris-manikas, I tracked down the issue to be on my end, and not that of the plugin. I'm going to delete my previous comment so it doesn't pollute this issue with irrelevant statements.

Sorry for the confusion.

[2019-02-06 08:51] jhoogeboom opened #161 "uncaught exception error"
Using this with ionic 4, and it's [wrapper around this plugin](https://ionicframework.com/docs/native/secure-storage)

I'm just running the example provided, making a store, getting and setting keys but running into an uncaught exception when removing a key.

[code]

[2019-02-19 09:55] eranmes opened #163 "Do not rely on internal Android API for screen unlock"
SecureStorage relies on internal Android API to unlock the screen:
https://github.com/Crypho/cordova-plugin-secure-storage/blob/master/src/android/SecureStorage.java#L198

It should use public API instead:
https://developer.android.com/reference/android/app/KeyguardManager#createConfirmDeviceCredentialIntent(java.lang.CharSequence,%20java.lang.CharSequence)

Side note:
The code needs to unlock Key

[2019-02-19 11:33] eranmes commented on #163
A bit of background:
The request to encrypt the generated key (setEncryptionRequired) made sense years ago, when Android device filesystems were unencrypted.
Now, with file-based encryption (or full-disk encryption), the user's filesystem data (including Keystore keys) is encrypted using the user's screen lock method and that is handled at a different layer than Keystore - so there's no benefit to

[2019-02-19 19:47] demetris-manikas commented on #163
@eranmes Thanks for your input.

This plugin supports API 21.

KeyguardManager.createConfirmDeviceCredentialIntent was introduced in API 21 and should be used by this plugin as you suggest. A PR on that would be welcome.

KeyGenParameterSpec.Builder  was introduced in API 23 so using it is not yet possible.

Dropping the call to setEncryptionRequired is out of the question since it would leave the

[2019-02-19 19:49] demetris-manikas commented on #159
Closing due to inactivity

[2019-02-19 19:49] #159 closed

[2019-02-19 19:52] demetris-manikas commented on #160
@danicholls Since nobody has filed any issues on problems with iOS I 'll close this for now.
If you have any suggestions on switching dependency on SAMKeychain we 'll be happy to listen to it.
Thanks for your interest.

[2019-02-19 19:52] #160 closed

[2019-02-21 21:11] cesarbarone commented on #161
any workaround @jhoogeboom ?

[2019-02-25 10:27] jhoogeboom commented on #161
Not really, if you find any, also interested.

[2019-02-25 12:48] wurstbrot opened #165 "Usage of OAEP"
Hi,

this plugin uses RSA/ECB/PKCS1Padding for AES encryption, see https://github.com/Crypho/cordova-plugin-secure-storage/blob/master/src/android/RSA.java#L89 .

Because RSA with PKCS v1.5 is broken since 1998 [bleich], RSA should be used with Optimal Asymmetric Encryption Padding (OAEP) [point].

I am not a crypto expert, but have you thought about changing to OAEP?

[point] Pointcheval, David.

[2019-02-25 13:48] ggozad commented on #161
My guess is this comes from the ionic side since tests pass just fine on cordova. Could you please take it there?

[2019-02-25 13:48] #161 closed

[2019-02-25 13:59] ggozad commented on #165
Hey,
A pull request would be welcome on this. OAEP is indeed a better choice. Could you please open a PR?
That said, given android's security in general, the attack vectors that exist on cordova and the difficulty in performing a chosen ciphertext attack on this plugin I would think this is the least of your problems :)

[2019-03-10 11:46] BorntraegerMarc opened #166 "Link doesn't work in readme"
The link for

doesn't work in readme anymore. I guess it should be changed to https://developer.apple.com/documentation/security/ksecattraccessiblewhenunlocked ?

[2019-03-11 06:45] BorntraegerMarc opened #167 "Exception on Android Pie after adding back lock screen"
On my OnePlus 6T with Android Pie I receive the following error (see reproduction below):
[code]

How to reproduce:
1. Start app with lock screen enabled (make sure you call the plugins `get` or `set` method)
1. Kill app
1. Remove lock screen
1. Re-Start app without lock screen
1. No exception happening (we handle it correctly)
1. Kill app
1. Enable lock screen again in device settings
1. Re-start

[2019-03-11 06:55] demetris-manikas commented on #167
Hi. The plugin is not supposed to function without the device having a lock screen.
It is the applications responsibility to make sure of that.
Check [https://github.com/Crypho/cordova-plugin-secure-storage#user-content-users-must-have-a-secure-screen-lock-set](https://github.com/Crypho/cordova-plugin-secure-storage#user-content-users-must-have-a-secure-screen-lock-set) for sample implementation.

[2019-03-11 06:59] BorntraegerMarc commented on #167
Thanks for your response @demetris-manikas

I copied the wrong reproduction steps. Please note that I'm restarting the app with the lock screen ENABLED.

Sorry I'm a bit tired this morning 😅

[2019-03-11 07:15] demetris-manikas commented on #167
@BorntraegerMarc Could you please help a bit in resolving this since I have not much time at the moment?
Add the following code to the isEntryAvailable of the RSA.java
`catch (RuntimeException e) {
            return false;
}` and report back.

[2019-03-11 07:27] BorntraegerMarc commented on #167
@demetris-manikas With that catch I still receive the same exception:
[code]

Here's the code block I changed:
[code]

[2019-03-11 07:28] BorntraegerMarc commented on #167
But please not that the exception only happens the first time I start the app. The 2nd time it starts without the exception

[2019-03-11 07:47] demetris-manikas commented on #167
Have you made sure that the code you changed is really being used? Since
the exception being thrown IS a RuntimeException. To be sure clone the
plugin change the code in the clone remove the plugin from your app and add
the local version of it.

Στις Δευ, 11 Μαρ 2019, 9:28 π.μ. ο χρήστης Marc Bornträger <
notifications@github.com> έγραψε:

[2019-03-11 08:32] BorntraegerMarc commented on #167
@demetris-manikas yes I'm positive that the changed code is in effect since I changed it directly in my build project inside android studio.

But maybe it's happening because of something specific in our project...

[2019-03-11 09:33] demetris-manikas commented on #167
The result does not make sence. Please take 5 minutes and follow the steps
i described. To be sure add a log statement as well

Στις Δευ, 11 Μαρ 2019, 10:32 π.μ. ο χρήστης Marc Bornträger <
notifications@github.com> έγραψε:

[2019-03-11 10:54] BorntraegerMarc commented on #167
@demetris-manikas well not sure what to tell you. Here are my logs:
[code]

And this is my adapted method:
[code]

Sometimes SW dev doesn't make sense 😉

[2019-03-11 10:55] BorntraegerMarc commented on #167
Or maybe the exception is just logged somewhere else and just printed out in the console?

[2019-03-11 10:58] demetris-manikas commented on #167
Ok. Thanks for your efforts. I 'll try to look into it during the week

Στις Δευ, 11 Μαρ 2019, 12:54 μ.μ. ο χρήστης Marc Bornträger <
notifications@github.com> έγραψε:

[2019-03-11 10:59] demetris-manikas commented on #167
Could be so.

Στις Δευ, 11 Μαρ 2019, 12:55 μ.μ. ο χρήστης Marc Bornträger <
notifications@github.com> έγραψε:

[2019-03-11 12:41] BorntraegerMarc commented on #167
Cool, thanks :)

BTW, if I have a catch like this:
[code]

Then I also see the exception catched log `XXX inside catch runtime exception` -> I guess because catching all exceptions also catches the runtime exception. So adding the runtime catch doesn't change the behaviour.

Maybe it was obvious for you but I'm not an experienced android dev 😄

[2019-03-11 13:53] BorntraegerMarc commented on #167
Also I tested it now on a Samsung galaxy S9 and there the exception is not shown. So it might be a OnePlus only exception.

[2019-03-12 15:16] demetris-manikas commented on #167
@BorntraegerMarc Just for the record catching Exception DOES NOT catch RuntimeException. See [https://docs.oracle.com/javase/tutorial/essential/exceptions/runtime.html](https://docs.oracle.com/javase/tutorial/essential/exceptions/runtime.html) for an intro.
Closing...

[2019-03-12 15:16] #167 closed

[2019-03-12 15:18] demetris-manikas commented on #167
@BorntraegerMarc  Just for the record catch Exception does not catch RuntimeException. See [https://docs.oracle.com/javase/tutorial/essential/exceptions/runtime.html](https://docs.oracle.com/javase/tutorial/essential/exceptions/runtime.html).
Closing

[2019-03-14 16:21] frozensquid opened #168 "Save value of ss.get() in a variable ?"
Hello,
I have an issue about the return of the value get by the function.

The plugin is initilized when deviceRead, this is ok 👍
[code]
I created a function to get a value
[code]
I created another function to know if a "token" exist so  i have:
[code]
When i build it and launch my app on my phone, When i had a value nammed token i have the alert that say OK.
But when i trigger the CheckVal() valu

[2019-03-14 16:59] demetris-manikas commented on #168
@frozensquid  Your implementation of getSecureStorage is faulty.
You probably need to read something like [https://developers.google.com/web/fundamentals/primers/promises](https://developers.google.com/web/fundamentals/primers/promises)
and then make getSecureStorage return a Promise.
Closing.

[2019-03-14 16:59] #168 closed

[2019-03-22 13:06] hvaughan3 commented on #163
I just received some crash reports in our logs that fail when running `startActivity` with `Intent intent = new Intent("com.android.credentials.UNLOCK");`.

The crash logs are coming from a Pixel XL device running Android 10 (I guess they are running the developer preview version).

Perhaps Android 10 cut support for this?

       at android.app.Instrumentation.checkStartActivityResult(Instrumenta

[2019-03-23 17:36] demetris-manikas commented on #163
@hvaughan3 Thanks for reporting.

[2019-03-26 04:45] gvsrinivas9 opened #169 "Android Q API 28 ERROR: No Activity found to handle Intent { act=com.android.credentials.UNLOCK }"
Hi, We are getting ActivityNotFoundException when we do initialize the plugin.
Could you check and let us know.

**Device Details:**
"DeviceModel": "Pixel",
"DeviceSystemName": "Android",
"DeviceSystemVersion": "28"
"OS":"Android Q"

**Error Log:**
E/SecureStorage: SecureStorage Exception android.content.ActivityNotFoundException: No Activity found to handle Intent { act=com.android.credentials.UN

[2019-03-26 14:25] vandres opened #170 "iOS User interaction is not allowed"
We are using your library together with Ionic to save auth information of the user. Now we have the Problem on iOS (12.1.4), that sometimes the storage is not working. But just sometimes and hard to reproduce:

[code]

The code is very simple:

[code]

[2019-03-27 14:42] cmartin81 opened #171 "Data is still accessible after loging out of icloud"
I'm storing an accesstoken with this plugin. This works good, but when I sign out of from my iphone with my Apple ID, the accesstoken is still accessible. Why is this? I thought this plugin was storing values inside the keychain in icloud. And that signing out of icloud will also make my accesstoken dissapear.

I am also using this configuration: <preference name="KeychainAccessibility" value="Whe

[2019-03-27 14:45] cmartin81 opened #172 "icloud"

[2019-03-27 14:45] #172 closed

[2019-04-02 12:46] yoavbar commented on #169
+1

[2019-04-06 05:10] anirudhd opened #173 "App using unlockCredentials crash on Android Q"
https://github.com/Crypho/cordova-plugin-secure-storage/blob/ad1a6beda37ac41a8c0e2c490e0525d6fc64e4e4/src/android/SecureStorage.java#L198

The plugin is using "com.android.credentials.UNLOCK" intent which was removed in Android Q. Apps running on Android Q will crash with the usage of this API. It can be reproduced easily on Q beta 1

[2019-04-06 05:11] anirudhd commented on #173
The app is using "com.android.credentials.UNLOCK intent which is removed in Q

[2019-04-08 15:18] demetris-manikas commented on #173
@anirudhd Thanks for reporting.
Closing since this is a duplicate of #169.

[2019-04-08 15:18] #173 closed

[2019-04-24 13:48] gnarco commented on #146
Yes, but using smart lock like icloud for backuping secured secret ?

[2019-04-24 18:32] #165 closed

[2019-04-30 06:50] BorntraegerMarc opened #174 "Refactor actions in static class so it can be re-used by other plugins"
So we wrote an own cordova plugin and wanted to re-use the "set" and "get" action: https://github.com/Crypho/cordova-plugin-secure-storage/blob/master/src/android/SecureStorage.java#L135

The problem was that in cordova we can't call this `execute` function from the native side. So we had to manually copy / paste the code from all the actions in order for us to use the functionality.

It would be

[2019-05-08 08:27] javahemans commented on #38
@ggozad So this plugin does not store data permanently on Android ?

[2019-05-14 15:35] chorauoc opened #175 "How to check whether key exist or not"
Hi,

I need to know a way to check whether key exist or not ?. Can anyone help me on this

Thank you

[2019-05-14 17:01] demetris-manikas commented on #175
You can either try get(key) and when key is not present the error functipn will be called or use the keys method.

[2019-05-14 17:01] #175 closed

[2019-05-21 05:21] paamrutk opened #176 "android.content.ActivityNotFoundException"
Hello all,

We have found this error on Google Play Store console that seams to be an SecureStorage problem. The issue is occurs on PIXEL3 XL device running on Android Q (OS)

android.content.ActivityNotFoundException:
at android.app.Instrumentation.checkStartActivityResult (Instrumentation.java:2051)
at android.app.Instrumentation.execStartActivity (Instrumentation.java:1709)
at android.app.Activ

[2019-05-23 13:13] orest commented on #176
Same issue here for
Pixel 3 XL
Pixel 2 XL
device running on Android Q

[2019-05-23 20:25] syn6UK commented on #134
Still having a problem with this. Running emulator on 12.1

Build command

`ionic cordova build ios -- --buildFlag="-UseModernBuildSystem=0"`

`Ionic:

   ionic (Ionic CLI)             : 4.6.0 (/usr/local/lib/node_modules/ionic)
   Ionic Framework               : @ionic/angular 4.4.0
   @angular-devkit/build-angular : 0.13.9
   @angular-devkit/schematics    : 7.3.9
   @angular/cli

[2019-05-24 07:52] BorntraegerMarc opened #177 "Capacitor support"
Hi

I wanted to get feedback from the authors & maintainers whether you are open (or even planning?) to support ionic's capacitor? https://capacitor.ionicframework.com/docs/plugins/

I think generally Cordova plugins should work out of the box and I will test in the following weeks whether there are any issues. But wants to get some feedback from you guys :)

Now since capacitor is stable (https:/

[2019-05-24 22:21] syn6UK opened #178 "Still having a problem with this. Running emulator on 12.1"
Still having a problem with this. Running emulator on 12.1

Build command

`ionic cordova build ios -- --buildFlag="-UseModernBuildSystem=0"`

`Ionic:

   ionic (Ionic CLI)             : 4.6.0 (/usr/local/lib/node_modules/ionic)
   Ionic Framework               : @ionic/angular 4.4.0
   @angular-devkit/build-angular : 0.13.9
   @angular-devkit/schematics    : 7.3.9
   @angular/cli

[2019-06-05 19:38] lunedam-git commented on #163
Just to add to the comment by @hvaughan3 , I see the same issue when using API 29 (Android 10) on an emulator:

[2019-06-10 08:09] Adza93 commented on #173
Also having this issue. Is there any solution for this?

[2019-06-10 08:30] Adza93 commented on #169
+1, anyone having a clue how to solve this issue?

[2019-06-20 12:42] scotthmusson commented on #169
+1 hoping to find a proper solution and a maintained plugin

[2019-06-25 18:43] nabil-nuvolo commented on #169
Also seeing this when testing our app against API29

[2019-06-26 10:41] xDAnkit commented on #169
Hey guys, is there update on raised concern. I'm also getting the similar issue when testing against API 29 ,

[2019-06-27 15:57] matthewh1209 commented on #169
+1, This plugin is an integral piece to our app. I'm hoping that this issue can be resolved quickly.

[2019-06-27 16:02] ggozad commented on #169
Hey there. I am sorry to disappoint, but as in the README, this plugin is no longer maintained.
I have tried to get to contact with ionic from where most of you come from but I haven't heard back from them.

I am afraid neither I or any of the other maintainers of secure-storage have the time to put effort in this. So you guys should fork and continue development independently.

[2019-06-27 16:03] #178 closed

[2019-06-27 16:03] ggozad commented on #177
The plugin is no-longer maintained closing all issues that are not going to be resolved.

[2019-06-27 16:03] #177 closed

[2019-06-27 16:04] ggozad commented on #176
The plugin is no-longer maintained closing all issues that are not going to be resolved.

[2019-06-27 16:04] #176 closed

[2019-06-27 16:04] ggozad commented on #174
The plugin is no-longer maintained closing all issues that are not going to be resolved.

[2019-06-27 16:04] #174 closed

[2019-06-27 16:04] ggozad commented on #171
The plugin is no-longer maintained closing all issues that are not going to be resolved.

[2019-06-27 16:04] #171 closed

[2019-06-27 16:04] ggozad commented on #170
The plugin is no-longer maintained closing all issues that are not going to be resolved.

[2019-06-27 16:04] #170 closed

[2019-06-27 16:05] ggozad commented on #166
The plugin is no-longer maintained closing all issues that are not going to be resolved.

[2019-06-27 16:05] #166 closed

[2019-06-27 16:05] ggozad commented on #163
The plugin is no-longer maintained closing all issues that are not going to be resolved.

[2019-06-27 16:05] #163 closed

[2019-06-27 16:05] ggozad commented on #169
The plugin is no-longer maintained closing all issues that are not going to be resolved.

[2019-06-27 16:05] #169 closed

[2019-06-28 19:09] katk0smos commented on #169
Any alternatives? @ggozad

[2019-06-28 19:18] ggozad commented on #169
Well like I said ionic or someone else will hopefully step in and pick this up.

[2019-06-28 19:21] Adza93 commented on #169
I am looking on how to fix this issue. Hopefully we can have some bugfix but the problem is with this credentials activity. It looks like Android 10 completely removed it but nothing can be found about this online.
Does anyone have any idea if this activity just changed name? And what that name would be?

[2019-07-02 10:04] kmlzjc commented on #169
Hello @Adza93. Have you been able to find any solution?

[2019-07-04 07:50] Adza93 commented on #169
@kmlzjc  unfortunatelly not yet. i am trying to get out any answer from Google developers if there is any alternative to com.android.credentials.UNLOCK intent. So far, no one is responding.

It is shame that they are just like that removing one of those security features that you use during the years in application, as we are using now.

[2019-07-04 09:54] jfernandezgersol commented on #169
Hi @Adza93, I am in the same situation. It seems that the com.android.credentials.UNLOCK was somehow never officially defined in the documentation (hidden feature). I am trying to find a parallel way to get a list with the unofficial intents but it seems to be complicated. I found info about some people trying to dump logs about the broadcast messages being sent in Android devices. Maybe could be

[2019-07-04 11:25] xDAnkit commented on #169
Hello everyone, We recently found one solution for addressing this issue. Tested it on API-29/28 and the good news is, that everything is working fine. Currently we are testing it amongst all android versions to make the code compatible throughout all available platforms. Also working on cleaning the code a bit.

Watch this space for more for a working solution.

[code]

[2019-07-04 14:45] jfernandezgersol commented on #169
Cool @xDAnkit I will check it on Monday. Thanks. Further infos I collected:

The main problem as we know is related with the Intent "com.android.credentials.UNLOCK". The plugin is calling it because a lock mechanism is required in the Android part to be able to encrypt the information in the storage (the user credentials are used to encrypt the AES key that encrypts the information).

After furthe

[2019-07-08 10:56] jfernandezgersol commented on #169
Hi @xDAnkit  Have you done any progress? Could you indicate how have you solved it?  Thank you very much in advance.

[2019-07-08 11:22] xDAnkit commented on #169
Hey @jfernandezgersol we are finalising the testing with multiple Android platform. You can expect the update either today or latest by tomorrow.

[2019-07-08 14:09] xDAnkit commented on #169
Hey @jfernandezgersol  - Please find the details below.

After doing a research and testing with multiple Android API variants. I have found following things related to this issue. hence, to avoid app crashes modified few code mentioned below to support API28/29. Also gone through your comments and provided documentation and found that the **android.credentials.UNLOCK** is limited to old API varia

[2019-07-08 14:32] jfernandezgersol commented on #169
Hi @xDAnkit  I have reached more or less the same conclusions as you can see in the following fork: https://github.com/jfernandezgersol/cordova-plugin-secure-storage/commit/327380799eab0564a34294d6db5e93e36daa3b59
Anyway your solution seems to be more complete :) It would be great if your changes could be released as new version. I think it would be very important for the Ionic community too. Than

[2019-07-09 10:45] xDAnkit commented on #169
@jfernandezgersol  - Glad that you liked my solution.

@ggozad - Would to like to send me a pull request for merging the following updated code to your master branch as @jfernandezgersol  mentioned?

[2019-07-09 17:30] mibrito707 commented on #169
In an effort to keep this project alive, I also tried to get a working solution in the following fork: https://github.com/mibrito707/cordova-plugin-secure-storage
**Reviewers, comments and PR** are welcome and I'll be more than happy to create a pull request to maintain this plugin (@ggozad) up to date since it's currently used in the latest Ionic version (my case currently).

I test it in a varie

[2019-07-09 17:34] mibrito707 commented on #163
@eranmes & @demetris-manikas In a effort to keep this project alive I created a fork of this repo using your suggestions, check this comment: https://github.com/Crypho/cordova-plugin-secure-storage/issues/169#issuecomment-509734410 for more details.

[2019-07-11 11:25] Adza93 commented on #163
Guys.... 😂
Looks like Google just returned "com.android.credentials.UNLOCK" on Android Q Beta 5 build.

I have just now performed update from latest Android 9 to Android 10 qpp5 which was just released today via side loading ota file (there are some issues with Google system update ota procedure, so Google temporarily disabled it). When installation completed, I started my app just from curiosity,

[2019-07-11 14:44] eranmes commented on #163
I do not believe that is correct - the com.android.credentials.UNLOCK  intent has not been returned.

[2019-07-11 20:10] Adza93 commented on #163
@eranmes it is definitely back. I have just tested it via debugger on my Google Pixel 3 device, and with latest blueline-ota-qpp5.190530.014-c43d3075.zip OTA software update I no longer have android.credentials.unlock exception.

I have only added printout to Android BUILD and VERSION number, so you can see that I am not wrong here.
Image from debugger output
https://ibb.co/6mWwHtG

I guess you ha

[2019-07-11 20:12] Adza93 commented on #163
I am telling this only because of backward compatibility. Otherwise it is great to move on and deprecate this chunk of code as some members already did, to prevent this happening again :)

[2019-07-24 06:31] paamrutk commented on #169
@mibrito707 Thank you for your support.
Can you please tell by when this update will be available officially.

[2019-07-24 14:37] rajashekaranugu commented on #169
@mibrito707, this solved our issue with Android Q (pixel 3). Thank you for the support. when are you planning to go for live Also can you please let us know how can we get notified upon live.

Apart from this is there any official site where we can track for Android Q release dates? some site states they may go live in August. Any input is much appreciated

[2019-07-25 14:31] orest commented on #169
I'm having this issue when building/running. Can you please let me know how to go around it

Error: xxx/Mobile/platforms/android/gradlew: Command failed with exit code 1 Error output:
xxx/Mobile/platforms/android/src/com/crypho/plugins/SecureStorage.java:229: error: local variable title is accessed from within inner class; needs to be declared final
                Intent intent = keyguardManager.

[2019-07-30 18:03] shanlin2dltk commented on #169
@mibrito707  I experienced an issue with the plugin.  Here are the steps to replicate: using https://github.com/mibrito707/cordova-plugin-secure-storage I built a cordova app that allows users setting up a PIN, and install on android 9.  The app works fine on android 9.  After I upgrade the device OS to android 10 (also called android Q), it cannot retrieve the PIN information from local storage a

[2019-07-30 20:49] mibrito707 commented on #169
@paamrutk IDK if we'll able to release and maintain a new version on this Github repo since the authors don't respond to my requests to maintain the original plugin. In the meantime tough I just updated https://github.com/mibrito707/cordova-plugin-secure-storage syncronizing versions and **officially** releasing v4.0.1

[2019-07-30 20:55] mibrito707 commented on #169
@rajashekaranugu  Thank you for the feedback, version 4.0.1 is released here https://github.com/mibrito707/cordova-plugin-secure-storage since it's working great so far for my team.

There is no official date yet for Android Q release but should be pretty soon, probably by the end of August as you mentioned. I follow this to be up to date: https://developer.android.com/preview

[2019-07-30 20:57] mibrito707 commented on #169
Hey @orest, Thanks for the feedback, I'll take a look into this but can you please create an issue here: https://github.com/mibrito707/cordova-plugin-secure-storage so we can keep track of it and have a different thread.

[2019-07-30 20:58] mibrito707 commented on #169
Hello @shanlin2dltk, thanks for the feedback.
I'll take a look into this but in the meantime can you please create an issue here: https://github.com/mibrito707/cordova-plugin-secure-storage so we can keep track of it and have a different thread.

[2019-07-31 00:21] orest commented on #169
@mibrito707 Thank you for looking into it. Do you think you can enable "Issues" tab on https://github.com/mibrito707/cordova-plugin-secure-storage
Thanks again!

[2019-07-31 07:06] ggozad commented on #169
Hey @mibrito707 . I will be happy to make a note on the README about you maintaining the plugin provided you can also maintain the iOS version.
I will close this repo, please contact me directly.